@import "compass/css3/images";
@import "compass/css3/text-shadow";

$default-text-shadow-color: rgba(black, 0.4);
$default-text-shadow-blur: 2px;
$default-text-shadow-v-offset: 2px;

$footer-height:         62px; 
$brand-primary:         #2C3E50;
$brand-success:         #1A9958;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;
$brand-info:            #3498DB;

.header-col {
  padding:25px 40px;
  border:3px solid #ffffff;
  li {
    padding:3px;
  }
  h3, h4 {
    text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.5);
  }
}

.col {
  padding: 25px 30px;
  border: 3px solid #ffffff;
}

a.col {
    @extend .col;
    padding:10px 10px;
    text-align:center;
    font-weight:bold;
}

.hr-header {
  text-align:center;
  border-bottom:2px solid #d5d5d5;
  b {
    display:inline-block;
    font-size:18px;
    position:relative;
    top:12px;
    background:#5D496F;
    padding:0px 12px;
  }
}

div h4.subtext {
  color:#d0d0d0 !important;
  padding:10px 10px 10px 70px;
}

.indent-quote {
  margin-left:70px;
  text-indent:-70px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.header-col-gray {
  background-color: #dddddd;
}
.header-col-light-gray {
  background-color: #ebebeb;
}
.header-col-purple {
  background-color: #5D496F;
  h2, h3, h4, ul {
    color:#efefef !important;
  }
  color:#efefef !important;
}
.header-col-light-blue {
  background-color: lighten($brand-info, 30%);
}
.header-col-light-green {
    background-color:#D0E4BE;
}
.header-col-dark-blue {
  background-color: lighten($brand-primary, 20%);
  h3, h4, ul {
    color:#efefef !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  color:#efefef !important;
}

.logo {
  padding:9px 20px 5px 20px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -1*$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
}

.main-cont {
  padding-top:48px;
}
