<div class='col-md-9' ng-controller='newChargeController' ng-init='init()' ng-show="view=='add_credit'" style='padding:30px;'>
  <div class='alert alert-{[{result.type}]} fade in' ng-show='result.show'>
    <a class='close' data-dismiss='alert' href='#'>×</a>
    {[{ result.text }]}
  </div>
  <form class='form-horizontal' name='charge_form' novalidate='' role='form'>
    <div class='form-group'>
      <h4>Select an amount to pay</h4>
      <ul class='nav nav-pills nav-stacked'>
        <li ng-class="{true: 'active'}[$parent.amount==opt_amt]" ng-repeat='opt_amt in options'>
          <a ng-click='$parent.amount=opt_amt'><input ng-model='$parent.amount' ng-value='opt_amt' type='radio'>  
            <i class='fa fa-dollar'></i>
            {[{ opt_amt/100 }]}
          </a>
        </li>
        <li ng-class="{true: 'active'}[amount==false]">
          <a ng-click='amount=false'><input ng-model='amount' ng-value='false' style='margin-bottom:15px;' type='radio'>  
            Other
            <input class='form-control' max='1000' min='5' name='custom_amount' ng-model='custom_amount' required='' type='number'>
          </a>
          <span ng-show='charge_form.custom_amount.$error.min || charge_form.custom_amount.$error.max'>
            <b>The value must be in range 5 to 1000!</b>
          </span>
        </li>
      </ul>
    </div>
    <div class='form-group'>
      <button class='btn btn-info' ng-click='pay()' ng-disabled='actual_amt === false' type='button'>Pay Now</button>
    </div>
  </form>
</div>
