<div class='col-md-9' ng-show="view=='general'">
  <h3>Account Information</h3>
  <div class='panel panel-default'>
    <table class='table'>
      <tr>
        <th>Username</th>
        <td ng-bind='user.username'></td>
      </tr>
      <tr>
        <th>Primary Email</th>
        <td>
          {[{user.primary_email.address}]}
          <span class='label' ng-class="{true: 'label-success', false: 'label-danger'}[user.primary_email.verified]">
            <span ng-show='user.primary_email.verified'>Verified</span>
            <span ng-hide='user.primary_email.verified'>Un-Verified</span>
          </span>
        </td>
      </tr>
      <tr ng-show='user.gh_linked'>
        <th>Github Account</th>
        <td>
          {[{user.gh.login}]} {[{user.gh_token}]}
        </td>
      </tr>
    </table>
  </div>
</div>
