.col-md-9{"ng-controller" => "newChargeController", "ng-show" => "view=='add_credit'", style: "padding:30px;"}
  .alert-danger.alert.fade{"ng-show" => "errors"}
    %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
    %span{"ng-show" => "error_header"} {[{ error_header }]}
    %ul{"ng-show" => "errors.length > 1"}
      %li{"ng-repeat" => "error in errors"} {[{error}]}
  %form.form-horizontal{name: "charge_form", novalidate: "", role: "form"}
    .form-group
      %h4
        Select an amount to deposit
        %small
          %a.muted-link{"ng-click" => "help('fees')"}
            fees apply
            %i.fa.fa-question-circle.help
      %ul.nav.nav-pills.nav-stacked
        %li{"ng-class" => "{true: 'active'}[$parent.amount==opt_amt]", "ng-repeat" => "opt_amt in options"}
          %a{"ng-click" => "$parent.amount=opt_amt"}
            %input{"ng-model" => "$parent.amount", "ng-value" => "opt_amt", type: "radio"}>/
              
            %i.fa.fa-dollar
            {[{ opt_amt/100 }]}
        %li{"ng-class" => "{true: 'active'}[amount==false]"}
          %a{"ng-click" => "amount=false"}
            %input{"ng-model" => "amount", "ng-value" => "false", style: "margin-bottom:15px;", type: "radio"}>/
              
            Other
            %input.form-control{max: "1000", min: "5", name: "custom_amount", "ng-model" => "custom_amount", required: "", type: "number"}/
          %span{"ng-show" => "charge_form.custom_amount.$error.min || charge_form.custom_amount.$error.max"}
            %b The value must be in range 5 to 1000!
    .form-group
      %button.btn.btn-info{"ng-click" => "pay()", "ng-disabled" => "actual_amt === false", type: "button"} Pay Now
