.btn-group
  %a.button.dropdown-toggle{"ng-class" => "{disabled: varValue && config.falseToggle}",
    "ng-click" => "varValue && config.falseToggle && change(false)"}
    %i
    %div{id: "text", "ng-class" => "textCls"}
    %span.caret{"ng-hide" => "varValue && config.falseToggle"}
  %ul.dropdown-menu
    %li{"ng-repeat" => "key in config.order"}
      %a{"ng-click" => "change(key)"} {[{ config.options[key]['text'] }]}
