SQLALCHEMY_DATABASE_URI = 'postgresql://crowdlink:testing@localhost:5432/crowdlink_testing'
SECRET_KEY = "KeepThisS3cr3t"

# Email stuffs
EMAIL_SERVER = ""
EMAIL_EHLO = ""
EMAIL_SENDER = ""
EMAIL_SEND_NAME = ""
EMAIL_TEST_ADDR = ""
EMAIL_PORT = 587
EMAIL_DEBUG = 1
EMAIL_USE_TLS = True

GITHUB_CONSUMER_SECRET = ""
GITHUB_CONSUMER_KEY = ""
GITHUB_ACCOUNT_KEY = ""
