.row{"ng-init" => "init()"}
  .col-md-3{style: "padding:30px;"}
    %h4 Account Information
    %ul.nav.nav-pills.nav-stacked
      %li{"ng-class" => "{true: 'active'}[view=='general']"}
        %a{"ng-click" => "view='general'"} General
      %li{"ng-class" => "{true: 'active'}[view=='general']", "ng-show" => "user.gh_linked"}
        %a{href: "/login/github"}
          %i.fa.fa-github.fa-large>
            Link You Github
    %h4 Financial
    %ul.nav.nav-pills.nav-stacked
      %li{"ng-class" => "{true: 'active'}[view=='add_credit']"}
        %a{"ng-click" => "view='add_credit'"} Add Credit
      %li{"ng-class" => "{true: 'active'}[view=='transactions']"}
        %a{"ng-click" => "view='transactions'"} Transactions
  / General ========================================================
  .col-md-9{"ng-show" => "view=='general'"}
    %h3 Account Information
    .panel.panel-default
      %table.table
        %tr
          %th Username
          %td{"ng-bind" => "user.username"}
        %tr
          %th Primary Email
          %td
            {[{user.primary_email.address}]}
            %span.label{"ng-class" => "{true: 'label-success', false: 'label-danger'}[user.primary_email.verified]"}
              %span{"ng-show" => "user.primary_email.verified"} Verified
              %span{"ng-hide" => "user.primary_email.verified"} Un-Verified
        %tr{"ng-show" => "user.gh_linked"}
          %th Github Account
          %td
            {[{user.gh.login}]} {[{user.gh_token}]}
  / Transactions ========================================================
  .col-md-9{"ng-controller" => "transController", "ng-init" => "init()", "ng-show" => "view=='transactions'", style: "padding:30px;"}
    %div{"ng-show" => "trans"}
      %h4 Transactions
      %table.table.table-hover
        %tr
          %th Amount
          %th Date
          %th Card
          %th Status
          %th
        %tbody{"ng-repeat" => "tran in trans"}
          %tr.clickable{"ng-class" => "{1: 'success', 0: 'warning'}[trans._status]", "ng-click" => "tran.details=!tran.details"}
            %td
              %i.fa.fa-dollar
              {[{ trans.amount/100 }]}
            %td
              %i.fa.fa-calendar
              {[{ trans.created.$date | date:'short' }]}
            %td.mono
              %i.fa.fa-credit-card
              **** **** **** {[{ trans.last_four }]}
            %td
              {[{ trans.status }]}
            %td
              %i.fa{"ng-class" => "{true: 'fa-caret-up', false: 'fa-caret-down'}[tran.details]"}
          %tr{"ng-show" => "tran.details"}
            %td{colspan: "5"} Look at all the details
    %h4{"ng-hide" => "transactions"} No transactions to show.
  / Add Credit ========================================================
  .col-md-9{"ng-controller" => "chargeController", "ng-init" => "init()", "ng-show" => "view=='add_credit'", style: "padding:30px;"}
    .alert.fade.in{class: "alert-{[{result.type}]}", "ng-show" => "result.show"}
      %a.close{"data-dismiss" => "alert", href: "#"} ×
      {[{ result.text }]}
    %form.form-horizontal{name: "charge_form", novalidate: "", role: "form"}
      .form-group
        %h4 Select an amount to pay
        %ul.nav.nav-pills.nav-stacked
          %li{"ng-class" => "{true: 'active'}[$parent.amount==opt_amt]", "ng-repeat" => "opt_amt in options"}
            %a{"ng-click" => "$parent.amount=opt_amt"}
              %input{"ng-model" => "$parent.amount", "ng-value" => "opt_amt", type: "radio"}>/
                
              %i.fa.fa-dollar
              {[{ opt_amt/100 }]}
          %li{"ng-class" => "{true: 'active'}[amount==false]"}
            %a{"ng-click" => "amount=false"}
              %input{"ng-model" => "amount", "ng-value" => "false", style: "margin-bottom:15px;", type: "radio"}>/
                
              Other
              %input.form-control{max: "1000", min: "5", name: "custom_amount", "ng-model" => "custom_amount", required: "", type: "number"}/
            %span{"ng-show" => "charge_form.custom_amount.$error.min || charge_form.custom_amount.$error.max"}
              %b The value must be in range 5 to 1000!
      .form-group
        %button.btn.btn-info{"ng-click" => "pay()", "ng-disabled" => "actual_amt === false", type: "button"} Pay Now
