!!!
%html{lang: "en", "ng-app" => "mainApp", "ng-controller" => "rootController"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    {% if production %}
    %link{href: "{{ static_path }}css/common.min.css", media: "screen", rel: "stylesheet"}/
    {% else %}
    %link{href: "{{ static_path }}css/bootstrap.css", media: "screen", rel: "stylesheet"}/
    %link{href: "{{ static_path }}css/main.css", media: "screen", rel: "stylesheet"}/
    {% endif %}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet"}/
    %title{"ng-bind" => "_title"} Crowd Link
  %body
    .spinner-overlay.fade{"ng-show" => "loading"}
      %i.fa.fa-3x.fa-spin.fa-spinner
    / CDN Based ==============================================================
    / Jquery
    %script{src: "//code.jquery.com/jquery-1.10.1.min.js"}
    / Showdown
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"}
    / Angular
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-sanitize.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-animate.min.js"}
    / Bootstrap
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.7.0/ui-bootstrap-tpls.min.js"}
    / Strip
    %script{src: "https://checkout.stripe.com/checkout.js", type: ""}
    / Internally managed =====================================================
    {% if production and production == True %}
    %script{src: "{{ static_path }}js/common.min.js"}
    {% else %}
    / Noty notifications
    %script{src: "/bower_components/noty/js/noty/jquery.noty.js"}
    %script{src: "{{ static_path }}js/noty_theme.js"}
    %script{src: "{{ static_path }}js/noty_topcenter.js"}
    / Fusejs searching
    %script{src: "/bower_components/fuse.js/fuse.js"}
    / Markitup Markdown editor
    %script{src: "{{ static_path }}lib/js/jquery.markitup.js", type: "text/javascript"}
    / Internal libs
    %script{src: "{{ static_path }}js/app.js"}
    %script{src: "{{ static_path }}js/controllers.js"}
    %script{src: "{{ static_path }}js/services.js"}
    {% endif %}
    {% raw %}#wrap{"ng-init" => "init({{logged_in}}, '{{user | tojson | urlencode}}')"}{% endraw %}
      .navbar.navbar-default.navbar-fixed-top
        .container.no-gutter
          %a.navbar-brand.logo{href: "#/home"}
            %span.hidden-xs
              %img{border: "0", src: "{{ static_path }}img/logo.jpg"}/
            %span.visible-xs
              %img{border: "0", src: "{{ static_path }}img/logo_sm.jpg"}/
          %ul.nav.nav-pills.main-nav-pills
            %li{"ng-class" => "{true: 'active'}[location.path().lastIndexOf('/account', 0) === 0]", "ng-show" => "logged_in"}
              %a{href: "#/account"}
                %i.fa.fa-large.fa-gear
                %span.hidden-xs Account
            %li{"ng-class" => "{true: 'active'}[location.path()==profile]", "ng-show" => "logged_in"}
              %a{href: "\#{[{profile}]}"}
                %i.fa.fa-large.fa-user
                %span.hidden-xs Profile
            %li.clickable{"ng-show" => "logged_in"}
              %a{"ng-click" => "logout()"}
                %i.fa.fa-large.fa-sign-out
                %span.hidden-xs Logout
            %li{"ng-class" => "{true: 'active'}[location.path()=='/signup']", "ng-hide" => "logged_in"}
              %a{href: "#/signup"}
                %i.fa.fa-large.fa-edit
                %span.hidden-xs Sign Up
            %li{"ng-class" => "{true: 'active'}[location.path()=='/login']", "ng-hide" => "logged_in"}
              %a{href: "#/login"}
                %i.fa.fa-sign-in.fa-large
                %span.hidden-xs Login
      .container.main-cont.fade{"ng-view" => ""}

  %div{id: "footer navbar-default navbar"}
    .container
      %p.text-muted{style: "margin:20px 0px;text-align:center;"}
        %a{href: "/#/tos", style: "color:#99A2C1;"} TOS
        \&nbsp;-&nbsp;
        %a{href: "/#/privacy", style: "color:#99A2C1;"} Privacy Policy
        %br
          &copy; Copyright 2014 Crowdlink
