!!!
%html{lang: "en", "ng-app" => "mainApp", "ng-controller" => "rootController"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    {% if production %}
    %link{href:"//fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,500|Quattrocento+Sans:400", rel:"stylesheet", type:"text/css"}
    %link{href: "{{ static_path }}css/common.min.css", media: "screen", rel: "stylesheet"}/
    {% else %}
    %link{href: "{{ static_path }}css/bootstrap.css", media: "screen", rel: "stylesheet"}/
    %link{href: "{{ static_path }}css/main.css", media: "screen", rel: "stylesheet"}/
    {% endif %}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet"}/
    %title{"ng-bind" => "_title"} Crowd Link
    %meta{content: "Crowdlink.io", name: "title"}
    %meta{content: "Use donations, pledges, and votes to gauge user opinions. Crowdlink connects users to product and service providers.", name: "description"}
    %meta{content: "https://crowdlink.io", property: "og:url"}
    %meta{content: "Crowdlink.io", property: "og:title"}
    %meta{content: "Use donations, pledges, and votes to gauge user opinions. Crowdlink connects users to product and service providers.", property: "og:description"}
    %meta{content: "https://crowdlink.io/static/img/logo.png", property: "og:image"}
  %body
    .spinner-overlay.fade{"ng-show" => "loading"}
      %i.fa.fa-3x.fa-spin.fa-spinner
    / CDN Based ==============================================================
    / Jquery
    %script{src: "//code.jquery.com/jquery-1.10.1.min.js"}
    / Showdown
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"}
    / Angular
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-sanitize.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.min.js"}
    / Bootstrap
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.7.0/ui-bootstrap-tpls.min.js"}
    / Twitter
    %script{src: "//platform.twitter.com/widgets.js"}
    / Internally managed =====================================================
    {% if production and production == True %}
    %script{src: "{{ static_path }}js/common.min.js"}
    {% else %}
    / Noty notifications
    %script{src: "/bower_components/noty/js/noty/jquery.noty.js"}
    %script{src: "{{ static_path }}js/noty_theme.js"}
    %script{src: "{{ static_path }}js/noty_topcenter.js"}
    / Fusejs searching
    %script{src: "/bower_components/fuse.js/fuse.js"}
    / Markitup Markdown editor
    %script{src: "{{ static_path }}lib/js/jquery.markitup.js", type: "text/javascript"}
    / Internal libs
    %script{src: "{{ static_path }}js/miu.js"}
    %script{src: "{{ static_path }}js/app.js"}
    %script{src: "{{ static_path }}js/controllers.js"}
    %script{src: "{{ static_path }}js/services.js"}
    {% endif %}
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    {% raw %}#wrap{"ng-init" => "root_init({{logged_in}}, '{{user | tojson | urlencode}}', '{{ messages | tojson | urlencode}}')"}{% endraw %}
      .navbar.navbar-inverse.navbar-fixed-top
        .container.no-gutter
          %a.navbar-brand.logo{href: "{[{home}]}"}
            %img{border: "0", width: "30", height: "30", src: "{{ static_path }}img/logo-sm.png"}/
            %span.hidden-xs Crowdlink
          %ul.nav.nav-pills.main-nav-pills
            %li.clickable{"ng-show" => "logged_in"}
              %a{"ng-click" => "logout()"}
                %i.fa.fa-sign-out
                %span.hidden-xs Logout
            %li{"ng-class" => "{true: 'active'}[location.path()=='/login']", "ng-hide" => "logged_in"}
              %a{href: "login"}
                %i.fa.fa-sign-in
                %span.hidden-xs Login
            %li{"ng-class" => "{true: 'active'}[location.path().lastIndexOf('/account', 0) === 0]", "ng-show" => "logged_in"}
              %a{href: "account"}
                %i.fa.fa-gear
                %span.hidden-xs Account
            %li{"ng-class" => "{true: 'active'}[location.path()==profile]", "ng-show" => "logged_in"}
              %a{href: "{[{profile}]}"}
                %img{src: "{[{user.avatar}]}&s=20", style:"display:inline-block;vertical-align:middle;"}
                %span.hidden-xs {[{ user.username }]}
            %li.text-center{"ng-class" => "{true: 'active'}[location.path()=='/signup']", "ng-hide" => "logged_in"}
              %a{href: "signup"}
                %i.fa.fa-edit
                %span.hidden-xs Sign Up


      .main-cont
        %div{"ng-repeat" => "message in messages"}
          %br
          .alert.container.fade{"ng-class" => "message.class"}
            %span{"ng-bind" => "message.header"}
            %span{"ng-bind" => "message.message"}
            %ul{"ng-show" => "message.messages.length > 0"}
              %li{"ng-repeat" => "m in message.messages", "ng-bind" => "m"}
        .fade{"ng-view" => ""}


        %div.col-lg-4.col-lg-offset-4
          %p.text-muted{style: "margin:20px 0px;text-align:center;"}
            %a.muted-link{"ng-click" => "help()"} Help
            \&nbsp;-&nbsp;
            %a.muted-link{href: "/tos"} TOS
            \&nbsp;-&nbsp;
            %a.muted-link{href: "/privacy"} Privacy Policy
            %br
            &copy; Copyright 2014 Crowdlink
        .col-lg-4
