.container
  .jumbotron{style: "position:relative; top:-5px;", "ng-init" => "init()"}
    %h1.pull-left.brand
      %i.fa.fa-exclamation
    %h1{style: "position:relative; top:-5px; padding-left:50px; font-size:46pt;"}
      {[{ error_data[err]['txt'] }]}
      %small - {[{ error_data[err]['subtext'] }]}
    .clearfix
    %p {[{ error_data[err]['long'] }]}
