.jumbotron
  .container
    .row
      .col-lg-6.col-lg-offset-1
        %h2.header.hidden-md.hidden-lg
          Crowdsource your project direction.
        %h1.hidden-sm.hidden-xs
          Crowdsource your project direction.
        %h3
          Use donations, pledges, and votes to gauge user opinions.
          -#Get user feedback on issues and features through donations, voting, and suggestions.
      .col-lg-5
        .row
          %form.form-horizontal.ng-pristine.ng-valid.landing-sign-up{method: "post", "ng-submit" => "submit()"}
            .alert-danger.alert.fade.ng-hide{"ng-show" => "errors"}
              %span.ng-binding.ng-hide{"ng-show" => "errors.length === 1"}
              %span.ng-binding.ng-hide{"ng-show" => "error_header"}
              %ul.ng-hide{"ng-show" => "errors.length > 1"}
                / ngRepeat: error in errors
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "username", type: "text", placeholder:"Username"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "password", type: "password", placeholder:"Password"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "password", type: "password", placeholder:"Email"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %button.btn.btn-info.fill-link{"ng-click" => "submit()", type: "submit"}
                  %i.fa.fa-edit
                  Sign up for Crowdlink
                %p.text-muted
                  By clicking "Sign up for Crowdlink", you agree to our
                  %a{href: "tos", target: "_blank"} terms of service
                  and
                  %a{href: "privacy", target: "_blank"} privacy policy
        .row
          .col-lg-10.col-lg-offset-1.text-center
            %hr.hr-header

        .row
          .col-lg-8.col-lg-offset-2.text-center
            Sign up with Oauth
        .row
          %form.form-horizontal
            .form-group
              .col-lg-8.col-lg-offset-2.text-center
                %a.btn.btn-oauth.btn-github.btn-large{href: "/oauth/gh/signup", type: "button"}
                  %i.fa.fa-github.fa-large
                %a.btn.btn-oauth.btn-twitter.btn-large{href: "/oauth/tw/signup", type: "button"}
                  %i.fa.fa-twitter.fa-large
                %a.btn.btn-oauth.btn-google.btn-large{href: "/oauth/go/signup", type: "button"}
                  %i.fa.fa-google-plus.fa-large
.row.no-margin
  .col-sm-12
    .row.share-padding
      .share-container
        %span.pull-left
          -# twitter share button
          %a.twitter-share-button{"data-via" => "crowdlinkdotio", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        %span.pull-left{style:"padding-right:24px;"}
          -# facebook share button
          #fb-root
          :javascript
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          .fb-share-button{"data-href" => "http://crowdlink.io", "data-type" => "button_count"}
        %span.pull-left
          .g-plus{"data-action" => "share", "data-annotation" => "bubble", "data-href" => "http://crowdlink.io"}
          / Place this tag after the last share tag.
          :javascript
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
.jumbotron.home-body
  .container
    .row
      .col-md-11.col-md-offset-1.no-gutter
        .row
          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-bullhorn.fa-3x
                  %br
                  Community Driven
            .row
              %p
                Vote and make microdonations towards problems you'd like solved, or pledge money towards their completion.

          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-thumbs-up.fa-3x
                  %br
                  Solve important problems
            .row
              %p
                Tell project owners which issues matter, and help motivate work being done in the most
                needed areas.

          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-group.fa-3x
                  %br
                  Microdonation based
            .row
              %p
                Support a project by giving as little as $0.01. Add funds to your account with a credit card or a bank transfer.
