.jumbotron
  .container
    .row
      .col-lg-6.col-lg-offset-1
        %h1
          Crowdsource your project direction.
        %h3
          Use donations, pledges, and votes to gauge user opinions.
          -#Get user feedback on issues and features through donations, voting, and suggestions.
      .col-lg-5
        .row
          %form.form-horizontal.ng-pristine.ng-valid.landing-sign-up{method: "post", "ng-submit" => "submit()"}
            .alert-danger.alert.fade.ng-hide{"ng-show" => "errors"}
              %span.ng-binding.ng-hide{"ng-show" => "errors.length === 1"}
              %span.ng-binding.ng-hide{"ng-show" => "error_header"}
              %ul.ng-hide{"ng-show" => "errors.length > 1"}
                / ngRepeat: error in errors
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "username", type: "text", placeholder:"Username"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "password", type: "password", placeholder:"Password"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "password", type: "password", placeholder:"Email"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %button.btn.btn-info.fill-link{"ng-click" => "submit()", type: "submit"}
                  %i.fa.fa-edit
                  Sign up for Crowdlink
                %p.text-muted
                  By clicking "Sign up for Crowdlink", you agree to our
                  %a{href: "tos", target: "_blank"} terms of service
                  and
                  %a{href: "privacy", target: "_blank"} privacy policy

        .row
          .col-lg-10.col-lg-offset-1.text-center
            %hr.hr-header

        .row
          .col-lg-8.col-lg-offset-2.text-center
            Sign up with Oauth
        .row
          %form.form-horizontal
            .form-group
              .col-lg-8.col-lg-offset-2.text-center
                %a.btn.btn-oauth.btn-github.btn-large{href: "/oauth/gh/signup", type: "button"}
                  %i.fa.fa-github.fa-large
                %a.btn.btn-oauth.btn-twitter.btn-large{href: "/oauth/tw/signup", type: "button"}
                  %i.fa.fa-twitter.fa-large
                %a.btn.btn-oauth.btn-google.btn-large{href: "/oauth/go/signup", type: "button"}
                  %i.fa.fa-google-plus.fa-large


%div.addthis-container
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
    %a.addthis_button_tweet
    %a.addthis_button_pinterest_pinit{"pi:pinit:layout" => "horizontal"}
    %a.addthis_counter.addthis_pill_style
  %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52c227390407c34f", type: "text/javascript"}
.jumbotron.home-body
  .container
    .row
      .col-md-11.col-md-offset-1.no-gutter
        .row
          .col-md-4
            %h3
              .text-center
                %i.fa.fa-bullhorn.fa-3x
                %br
                How it works

          .col-md-4
            %h3
              .text-center
                %i.fa.fa-thumbs-up.fa-3x
                %br
                Solve important problems

          .col-md-4
            %h3
              .text-center
                %i.fa.fa-comment.fa-3x
                %br
                Microdonation based

        .row
          .col-md-4
            %p
              Vote and make microdonations towards projects you like, or make your vote really count by making a Pledge towards an issue.
          .col-md-4
            %p
              Pledges let you tell project developers which issues matter, and help motivate work being done in the most
              needed areas
          .col-md-4
            %p
              Support a project by giving as little as $0.01
