.jumbotron
  .container
    .row.no-margin
      .col-lg-7
        %h2.header.hidden-md.hidden-lg
          Crowdsource your project direction.
        %h1.hidden-sm.hidden-xs
          Crowdsource your project direction.
        %h3
          Use donations, pledges, and votes to gauge user opinions.
      .col-lg-5
        .row
          %form.form-horizontal.ng-pristine.ng-valid.landing-sign-up{method: "post", "ng-submit" => "submit()", name: "f", "novalidate" => "", style:"margin-bottom:0;"}
            .form-group
              %div{style:"height:72px;"}
                .col-lg-8.col-lg-offset-2
                  %span.alert-success.alert.fade{"ng-show" => "register_success && !errors", style:"padding:8px;font-size:18px;"}
                    All setup, thanks!
                  %span.alert-danger.alert.fade{"ng-show" => "errors", style:"padding:8px;font-size:18px;"}
                    %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
                    %span{"ng-show" => "error_header"} {[{ error_header }]}
                    %ul{"ng-show" => "errors.length > 1"}
                      %li{"ng-repeat" => "error in errors"} {[{error}]}
            .form-group{"valid-class" => "f.address"}
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "address", name: "address", type: "email",
                placeholder:"Email", required: ""}
            .form-group
              .col-lg-8.col-lg-offset-2
                %button.btn.btn-info.fill-link{type: "submit", "ng-disabled" => "!f.$valid"}
                  %i.fa.fa-edit
                  Register for updates
                %p.text-muted
                  By clicking "Register for updates", you agree to our
                  %a{href: "/tos", target: "_blank"} terms of service
                  and
                  %a{href: "/privacy", target: "_blank"} privacy policy
        .row
          .col-lg-10.col-lg-offset-1.text-center
            %hr.hr-header
        .row
          .col-lg-8.col-lg-offset-2.text-center.text-muted.no-gutter
            %a.twitter-follow-button{"data-size" => "large", "data-lang" => "en", "data-show-screen-name" => "true", "data-show-count" => "true", :href => "https://twitter.com/crowdlinkdotio"} Follow @crowdlinkdotio
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

.row.no-margin
  .col-sm-12
    .row.share-padding
      .share-container
        %span.pull-left
          -# twitter share button
          %a{"twitter" => "", "data-text" => "Crowdsource your project", "data-via" => "crowdlinkdotio", "data-url" => "http://crowdlink.io"}
        %span{style:"padding-right:24px;"}
          -# facebook share button
          .fb-share-button{"fbparse"=> "", "data-href" => "http://crowdlink.io", "data-type" => "button_count"}
        %span
          .g-plus{"data-action" => "share", "data-annotation" => "bubble", "data-href" => "http://crowdlink.io"}
          / Place this tag after the last share tag.
          :javascript
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
.jumbotron.home-body
  .container
    .row
      .col-md-12.no-gutter
        .row
          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-bullhorn.fa-3x
                  %br
                  Community driven
            .row
              %p
                Vote and make microdonations towards problems you'd like
                solved, or pledge money towards their completion.
          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-thumbs-up.fa-3x
                  %br
                  Solve important problems
            .row
              %p
                Tell project owners which issues matter, and help motivate work
                being done in the most needed areas.
          .col-md-4
            .row
              %h3
                .text-center
                  %i.fa.fa-group.fa-3x
                  %br
                  Microdonation based
            .row
              %p
                Support a project by giving as little as $0.01. Add funds to
                your account with a credit card or a bank transfer.
  .container.more-info
    .row
      .col-md-12.no-gutter.text-center
        %h4
          %div
            %span{style: "position:relative; bottom:15px; padding:30px;"}
              Learn more
              %i.fa.fa-angle-double-down
.comm-body
  .container
    .row
      .col-md-12.no-gutter
        .header
          %span.fa.fa-tachometer.fa-4x
          %h1.title Feedback methods
        .row
          .col-md-4
            .row
              %h3.text-center Pledges
            .row
              %p
                Endorse a Problem or Solution by promising to give an amount upon its
                successful implementation. Payment is held in escrow until the
                project owner marks the task complete.
          .col-md-4
            .row
              %h3.text-center Votes
            .row
              %p
                Upvote a Problem or Solution you'd like to see resolved to
                improve its visibility. Votes are completely free and appear
                alongside Pledges and Donations.
          .col-md-4
            .row
              %h3.text-center Donations
            .row
              %p
                Give a gift amount on a Problem or Solution that will be given
                regardless of implementation outcome. Help support the project
                and show your interest in specific areas at the same time.
.proj-body
  .container
    .row
      .col-md-12.no-gutter
        .header
          %span.fa.fa-sitemap.fa-4x
          %h1.title Workflow
        .row
          .col-md-4
            .row
              %h3.text-center Projects
            .row
              %p
                All Solutions and Problems are managed under the context of a
                single Project. Project owners control the disbursement of funds
                and can divide the payout between multiple users.
          .col-md-4
            .row
              %h3.text-center Problems
            .row
              %p
                Problems focus on a pain point that the user has with a product
                or service. They can receive Donations, Votes or Pledges from
                any user and can be proposed by any user.
          .col-md-4
            .row
              %h3.text-center Solutions
            .row
              %p
                Any Problem may have multiple Solutions proposed for it.
                Solutions can be promoted in the same way as Problems and can
                also be added by any user.
.acct-body
  .container
    .row
      .col-md-12.no-gutter
        .header
          %span.fa.fa-lock.fa-4x
          %h1.title Finance details
        .row
          .col-md-4
            .row
              %h3.text-center Accounts
            .row
              %p
                Each user has an account that maintains a balance. Add funds to
                your balance with a credit card, bank transfer, or from Donations
                and Pledges you recieve. Account balances can be
                deposited via bank transfer.
          .col-md-4
            .row
              %h3.text-center Network Fees
            .row
              %p
                Crowdlink charges a flat fee of 6% on funds moving between
                users via Pledges or Donations, regardless of amount. Amounts
                can be as low as $0.01 and as large as $10,000.
          .col-md-4
            .row
              %h3.text-center Processor Fees
            .row
              %p
                Crowdlink transparently passes on processor fees, so the amount
                in your account is the full amount we received, and the amount
                deposited to your bank account is the amount you sent minus the
                fees we're charged.
