.jumbotron
  .container
    .row
      .col-lg-6.col-lg-offset-1
        %h1
          Crowdsource your project direction.
        %h3
          Use donations, pledges, and votes to gauge user opinions.
      .col-lg-5
        .row
          %form.form-horizontal.ng-pristine.ng-valid.landing-sign-up{method: "post", "ng-submit" => "submit()", name: "f"}
            .form-group
              %div{style:"height:72px;"}
                .col-lg-8.col-lg-offset-2
                  %span.alert-success.alert.fade{"ng-show" => "register_success && !errors", style:"padding:8px;font-size:18px;"}
                    All setup, thanks!
                  %span.alert-danger.alert.fade{"ng-show" => "errors", style:"padding:8px;font-size:18px;"}
                    %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
                    %span{"ng-show" => "error_header"} {[{ error_header }]}
                    %ul{"ng-show" => "errors.length > 1"}
                      %li{"ng-repeat" => "error in errors"} {[{error}]}
            .form-group{"valid-class" => "f.address"}
              .col-lg-8.col-lg-offset-2
                %input.form-control.ng-pristine.ng-valid{"ng-model" => "address", name: "address", type: "email", placeholder:"Email"}/
            .form-group
              .col-lg-8.col-lg-offset-2
                %button.btn.btn-info.fill-link{type: "submit"}
                  %i.fa.fa-edit
                  Register for updates
                %p.text-muted
                  By clicking "Register for updates", you agree to our
                  %a{href: "tos", target: "_blank"} terms of service
                  and
                  %a{href: "privacy", target: "_blank"} privacy policy


%div.addthis-container
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
    %a.addthis_button_tweet
    %a.addthis_button_pinterest_pinit{"pi:pinit:layout" => "horizontal"}
    %a.addthis_counter.addthis_pill_style
  %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52c227390407c34f", type: "text/javascript"}
.jumbotron.home-body
  .container
    .row
      .col-md-11.col-md-offset-1.no-gutter
        .row
          .col-md-4
            %h3
              .text-center
                %i.fa.fa-bullhorn.fa-3x
                %br
                How it works

          .col-md-4
            %h3
              .text-center
                %i.fa.fa-thumbs-up.fa-3x
                %br
                Solve important problems

          .col-md-4
            %h3
              .text-center
                %i.fa.fa-group.fa-3x
                %br
                Microdonation based

        .row
          .col-md-4
            %p
              Vote and make microdonations towards projects you like, or make your vote really count by making a Pledge towards an issue.
          .col-md-4
            %p
              Pledges tell project developers which issues matter, and help motivate work being done in the most
              needed areas
          .col-md-4
            %p
              Support a project by giving as little as $0.01
