.container
  %div
    .row
      %ol.breadcrumb
        %li
          %a{href: "{[{issue.project_maintainer_username}]}"} {[{issue.project_maintainer_username}]}
        %li
          %a{href: "{[{issue.get_project_abs_url}]}"} {[{ issue.project.name }]}
        %li
          %a{href: "."} Issues
        %li.active {[{issue.title}]}

    .row
      .col-lg-2
        .bs-sidebar.hidden-print.affix{style: "position: fixed; top: 80px;"}
          %ul.nav.bs-sidenav
            %li
              %a{"ng-click" =>"scrollTo('issue')"} Issue
              %ul.nav
                %li
                  %a{"ng-click" =>"scrollTo('comment-issue')"} Add comment
                %li
                  %a{href: "#modals-usage"} Usage
            %li
              %a{href: "#asides"} Aside
              %ul.nav
                %li
                  %a{href: "#asides-examples"} Examples
                %li
                  %a{href: "#asides-usage"} Usage
            %li
              %a{href: "#alerts"} Alert

      .col-lg-10
        .row
          %h4.col-lg-6
            %i.fa.fa-puzzle-piece
            %span{id:"issue"}
              Issue #21

          .col-lg-6.no-gutter
            %a.btn.button.btn-default.pull-right{"toggle-button" => "issue.subscribed",
            on: "active", off: "",
            "ng-click" => "swap_save('issue.subscribed')"}
              %i{off: "fa-eye", on: "fa-eye"}
              .in-button{off: "Watch", on: "Watch"}
            %a.btn.button.btn-default.pull-right{"toggle-button" => "issue.vote_status",
            on: "active", off: "",
            "ng-click" => "swap_save('issue.vote_status')"}
              %i{on: "fa-thumbs-up", off: "fa-thumbs-up"}
              .in-button{off: "Props", on: "Props"}
            %a.btn.button.btn-default.pull-right{:href => "{[{issue.get_abs_url}]}/new_solution"}
              %i.fa.fa-large.fa-plus
              \ Add a Solution
            %a.btn.button.btn-default.pull-right{:href => "n"}
              %i.fa.fa-large.fa-exclamation
              \ Report
            %br
        .row
          .col-lg-1.text-right
            %img{src:"http://placehold.it/48x48"}
          .col-lg-11.no-gutter
            -#Issue container
            .round-box
              .issue-heading
                .col-lg-1.no-gutter
                  %img{src:"\{[{ issue.creator.avatar }]}&s=38", style:"padding-left:12px;"}
                .col-lg-11
                %small
                  .text-muted
                    %b{style:"color:#000"}
                      %a{href: "{[{ issue.creator.get_abs_url }]}"}
                        {[{ issue.creator.username }]}
                    \ tagline
                    .pull-right
                      \ {[{ issue.created_at | date:'medium' }]}
                      %i.fa.fa-edit.cursor{"ng-click" => "toggle('issue.desc')",
                  "ng-show" => "issue.user_acl.edit_desc"}
                  %h4.no-margin
                    %span{"ng-show" => "issue.user_acl.edit_title"}
                      %span{"ng-show" => "editing.issue.title"}
                        .input-group
                          %input.form-control{"ng-model" => "issue.title", type: "text"}/
                          %span.btn.btn-info.input-group-addon{"ng-click" => "save('issue.title')"}
                            %i.fa.fa-save{"ng-hide" => "saving.issue.title"}
                            %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.issue.title"}
                          %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('issue.title')"}
                            %i.fa.fa-times-circle
                      %span{"ng-hide" => "editing.issue.title"}
                        {[{ issue.title }]} 
                        %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('issue.title')"}
                    %span{"ng-hide" => "issue.user_acl.edit_title"}
                      {[{ issue.title }]}
              %hr.no-margin
              .row.center-margin{style:"padding:8px;"}
                .row.col-lg-12.no-margin{"ng-show" => "editing.issue.desc"}
                  %textarea{"mark-it-up" => "", "ng-model" => "issue.desc"}
                  %span.btn.btn-info{"ng-click" => "save('issue.desc')", "ng-disabled" => "saving.issue.desc"}
                    %i.fa.fa-save{"ng-hide" => "saving.issue.desc"}
                    %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.issue.desc"}
                    \ Save
                  %span.btn.btn-primary{"ng-click" => "revert('issue.desc')", "ng-disabled" => "saving.issue.desc"}
                    %i.fa.fa-times-circle
                    \ Discard
                %div{"ng-hide" => "editing.issue.desc"}
                  %span{"btf-markdown" => "issue.desc"}
            -# Issues comments container
            .comments-heading
              .row.inner-pad
                .col-lg-1
                  %img{src:"\{[{ user.avatar }]}&s=36"}
                .col-lg-11
                  .row{"ng-show" => "logged_in", id:"comment-issue"}
                    %textarea.new-comment-text{"ng-model" => "new_comment"}
                    %a.btn.btn-info.btn-sm{"ng-click" => "comment(new_comment, issue)"}
                      Comment
              %div{"ng-show" => "issue.comments.length > 0"}
                .row.comments-row{"ng-repeat" => "comment in issue.comments | limitTo: 3"}
                  .col-lg-1.no-gutter.text-center
                    %img{src:"\{[{ comment.user.avatar }]}&s=36"}
                  .col-lg-11
                    .row
                      %h5.no-margin{style:"font-weight:500"}
                        %a{href: "{[{ comment.user.get_abs_url }]}"}
                          {[{ comment.user.username }]}
                        %small.pull-right
                          %em.text-muted {[{ comment.created_at | date_ago }]}
                      %small
                        {[{ comment.message }]}
                -# if more than 5 comments show a div to toggle more comments display
                .row{"ng-show" => "issue.comments.length > 3"}
                  .col-lg-12.text-center.inner-pad{"ng-hide" => "view_comments.more_comments", style:"background:#EEE"}
                    %a.text-muted.cursor{"ng-click" => "toggle_comments('more_comments')"}
                      show {[{ issue.comments.length-3 }]} more comments
                -# Extra comments contained here
                .row.extra-comments-row{"ng-show" => "view_comments.more_comments", "ng-repeat" => "comment in issue.comments | limitTo: -(issue.comments.length-3)"}
                  .col-lg-1.no-gutter.text-center
                    %img{src:"{[{ comment.user.avatar }]}&s=32"}
                  .col-lg-11
                    .row
                      %h5.no-margin{style:"font-weight:500"}
                        %a{href: "{[{ comment.user.get_abs_url }]}"}
                          {[{ comment.user.username }]}
                        %small.pull-right
                          %em.text-muted {[{ comment.created_at | date_ago }]}
                      %small
                        {[{ comment.message }]}




        %br
        .row{"ng-show" => "issue.solutions.length > 0", "ng-repeat" => "solution in issue.solutions | limitTo: 5"}
          .row
            .col-lg-8
              %h4.col-lg-7
                %i.fa.fa-lightbulb-o
                %span{id:"sol\{[{ $index+1 }]}"}
                  Solution # {[{ $index+1 }]}

            .col-lg-4
              %a.btn.button.btn-default.pull-right{"toggle-button" => "solution.vote_status",
              on: "active", off: "",
              "ng-click" => "swap_save('issue.solutions[' + $index + '].vote_status')"}
                %i{on: "fa-thumbs-up", off: "fa-thumbs-up", id:"foo"}
                .in-button{off: "Props", on: "Props"}
              %br
          %br
          .row
            .col-lg-1.text-right
              %img{src:"http://placehold.it/48x48"}
            .col-lg-11
              .row
                .col-lg-12.no-gutter
                  -#Solution container
                  .round-box
                    .issue-heading
                      .col-lg-1.no-gutter
                        %img{src:"\{[{ solution.creator.avatar }]}&s=48"}
                      .col-lg-11
                      %small
                        .text-muted
                          %b{style:"color:#000"}
                            %a{href: "{[{ solution.creator.get_abs_url }]}"}
                              {[{ solution.creator.username }]}
                          \ tagline
                          .pull-right
                            {[{ solution.created_at | date:'medium' }]}
                            %i.fa.fa-edit.cursor{"ng-click" => "toggle('issue.solutions[' + $index + '].desc')",
                            "ng-show" => "solution.user_acl.edit_desc"}
                        %h4.no-margin
                          %span
                            {[{ solution.title }]} 
                    %hr.no-margin
                      .row.col-lg-12.no-margin{"ng-show" => "editing.issue.solutions[$index].desc"}
                        %textarea{"mark-it-up" => "", "ng-model" => "solution.desc"}
                        %span.btn.btn-info{"ng-click" => "save('issue.solutions[' + $index + '].desc')", "ng-disabled" => "saving.issue.solutions[$index].desc"}
                          %i.fa.fa-save{"ng-hide" => "saving.issue.solutions[$index].desc"}
                          %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.issue.solutions[$index].desc"}
                          \ Save
                        %span.btn.btn-primary{"ng-click" => "revert('issue.solutions[' + $index + '].desc')", "ng-disabled" => "saving.issue.solutions[$index].desc"}
                          %i.fa.fa-times-circle
                          \ Discard
                      %div.center-margin{"ng-hide" => "editing.issue.solutions[$index].desc", style:"padding:8px;"}
                        %span{"btf-markdown" => "solution.desc"}
                  -# Issues comments container
                  .comments-heading
                    %div
                      .row.inner-pad
                        .col-lg-1
                          %img{src:"\{[{ user.avatar }]}&s=32"}
                        .col-lg-11
                          .row{"ng-show" => "logged_in"}
                            %textarea.new-comment-text{"ng-model" => "new_comment"}
                            %a.btn.btn-info.btn-sm{"ng-click" => "comment(new_comment, issue)"}
                              Comment
                      .row.comments-row{"ng-repeat" => "comment in solution.comments | limitTo: 1"}
                        .col-lg-1.no-gutter.text-center
                          %img{src:"\{[{ comment.user.avatar }]}&s=32"}
                        .col-lg-11
                          .row
                            %h5.no-margin{style:"font-weight:500"}
                              %a{href: "{[{ comment.user.get_abs_url }]}"}
                                {[{ comment.user.username }]}
                              %small.pull-right
                                %em.text-muted {[{ comment.created_at | date_ago }]}
                            %small
                              {[{ comment.message }]}
                      -# if more than 5 comments show a div to toggle more comments display
                      .row{"ng-show" => "solution.comments.length > 1"}
                        .col-lg-12.text-center
                          %a.text-muted.cursor{"ng-click" => "toggle_comments('solution' + $index)", "ng-hide" => "view_comments.solution$index"}
                            show {[{ solution.comments.length-1 }]} more comments
                      -# Extra comments contained here
                      .row.extra-comments-row{"ng-show" => "view_comments.solution$index", "ng-repeat" => "comment in solution.comments | limitTo: -(solution.comments.length-1)"}
                        .col-lg-1.no-gutter.text-center
                          %img{src:"\{[{ comment.user.avatar }]}&s=32"}
                        .col-lg-11.no-gutter
                          .row
                            %h5.no-margin{style:"font-weight:500"}
                              %a{href: "{[{ comment.user.get_abs_url }]}"}
                                {[{ comment.user.username }]}
                              %small.pull-right
                                %em.text-muted {[{ comment.created_at | date_ago }]}
                            %small
                              {[{ comment.message }]}
