%div.fade{"ng-init" => "init()"}
  .row
    %ol.breadcrumb
      %li
        %a{href: "#/{[{issue.project.username}]}"} {[{issue.project.username}]}
      %li
        %a{href: "#\{[{issue.project.get_abs_url}]}"} {[{ issue.project.name }]}
      %li
        %a{href: ""} Issues
      %li.active {[{issue.title}]}
  %div
    .row
      .col-md-8.no-gutter
        %h2
          %span{"ng-show" => "issue.user_acl.edit_title"}
            %span{"ng-show" => "editing.title"}
              .input-group
                %input.form-control{"ng-model" => "issue.title", type: "text"}/
                %span.btn.btn-info.input-group-addon{"ng-click" => "save('title')"}
                  %i.fa.fa-save{"ng-hide" => "saving.title"}
                  %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.title"}
                %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('title')"}
                  %i.fa.fa-times-circle
            %span{"ng-hide" => "editing.title"}
              {[{ issue.title }]} 
              %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('title')"}
          %span{"ng-hide" => "issue.user_acl.edit_title"}
            {[{ issue.title }]}
          %br
          %a.button{"toggle-button" => "issue.subscribed",
          "ng-click" => "swap_save('issue.subscribed')"}
            %i{on: "fa-eye", off: "fa-eye-slash"}
            .in-button{on: "Watch", off: "Unwatch"}
          %a.button{"toggle-button" => "issue.vote_status",
          "ng-click" => "swap_save('issue.vote_status')"}
            %i{on: "fa-minus-circle", off: "fa-plus-circle"}
            .in-button{on: "Vote", off: "Unvote"}
          %a.button.active{:href => "\#{[{issue.get_abs_url}]}/new_solution"}
            %i.fa.fa-large.fa-plus
            \ Add a Solution
          .btn-group-vertical{"ng-show" => "issue.open"}
            %label.btn{"ng-class" => "{true: 'active btn-info', false: 'btn-default'}[issue.close_reason==reason]", "ng-repeat" => "reason in issue.close_reason"}
              %input.hide{"ng-model" => "issue.close_reason", "ng-value" => "reason", type: "radio"}/
              {[{ val }]}
      .col-md-4.no-gutter
    %br/
    .row
      %h4
        %b> Proposed on
        {[{ issue.created_at | date:'medium' }]}
        ({[{ issue.created_at|date_ago }]})
      %br/
      %div.btn.btn-default.pull-right{"ng-click" => "toggle('desc')",
        "ng-show" => "issue.user_acl.edit_desc", "ng-hide" => "editing.desc"}
        Edit
      .row.well.well-lg.center-margin
        .row.col-lg-11{"ng-show" => "editing.desc"}
          %textarea{"mark-it-up" => "", "ng-model" => "issue.desc"}
          %span.btn.btn-info{"ng-click" => "save('desc')", "ng-disabled" => "saving.desc"}
            %i.fa.fa-save{"ng-hide" => "saving.desc"}
            %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.desc"}
            \ Save
          %span.btn.btn-primary{"ng-click" => "revert('desc')", "ng-disabled" => "saving.desc"}
            %i.fa.fa-times-circle
            \ Discard
        %div{"ng-hide" => "editing.desc"}
          %span{"btf-markdown" => "issue.desc"}
  .row{"ng-show" => "issue.events.length > 0"}
    %h3 Events
    %div{"ng-repeat" => "event in project.events"}
      %span{"ng-include" => "'templates/' + event.template"}
  .row{"ng-show" => "logged_in"}
    %textarea{"mark-it-up" => "", "ng-model" => "new_comment.body"}
