.container
  %br/
  %br/
  %br/
  %br/
  .row
    .col-lg-12
      %h1.text-center.login-header Login
      %br/
  .row
    .col-lg-3.col-lg-offset-1.text-center.login-logo
      %img{src: "{{ static_path }}img/logo.svg"}
    .col-lg-8
      %form.form-horizontal{method: "post", "ng-submit" => "submit()"}
        .form-group
          .col-lg-6
            .alert-danger.alert.fade{"ng-show" => "errors"}
              %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
              %span{"ng-show" => "error_header"} {[{ error_header }]}
              %ul{"ng-show" => "errors.length > 1"}
                %li{"ng-repeat" => "error in errors"} {[{error}]}
        .form-group
          .col-lg-6
            %input.form-control{"ng-model" => "identifier", type: "text", placeholder: "Username or Email"}/
        .form-group
          .col-lg-6
            %input.form-control{"ng-model" => "password", type: "password", placeholder: "Password"}/
        .form-group
          .col-lg-6
            .col-lg-5.remember
              .checkbox
                %label
                  %input{"ng-model" => "remember",type: "checkbox"}/
                  Remember me
            .col-lg-7.text-right.forgot
              %a{href:"#/recover"} Forgot your password?
        .form-group
          .col-lg-6
            %button.text-center.btn.btn-info{"ng-click" => "submit()", type: "submit"} Login

      .col-lg-6.text-center.oauth
        %hr.hr-header
        Sign in with Oauth
        %br
        %a.btn.btn-oauth.btn-github.btn-large{href: "/oauth/gh/login", type: "button"}
          %i.fa.fa-github.fa-large
        %a.btn.btn-oauth.btn-twitter.btn-large{href: "/oauth/tw/login", type: "button"}
          %i.fa.fa-twitter.fa-large
        %a.btn.btn-oauth.btn-google.btn-large{href: "/oauth/go/login", type: "button"}
          %i.fa.fa-google-plus.fa-large
        %br/
        %br/
        %br/
      .row
        .col-lg-10.col-lg-offset-1.text-center


      .row

      .row
        %form.form-horizontal

