.col.header-col-light-gray.row
  %br/
  %br/
  %br/
  .col-lg-10
    %h3.col-lg-offset-4
      Create a new Issue
    %br
    %form.form-horizontal{name: "form", novalidate: ""}
      .alert-danger.alert.fade{"ng-show" => "errors"}
        %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
        %span{"ng-show" => "error_header"} {[{ error_header }]}
        %ul{"ng-show" => "errors.length > 1"}
          %li{"ng-repeat" => "error in errors"} {[{error}]}
      .form-group{"valid-class" => "form.title"}
        %label.col-lg-3.control-label
          Title
        .col-lg-8
          %input.form-control{name: "title", type: "text", "ng-model" => "title",
            required: "", "ng-change" => "mod_title()", "ng-minlength" => "10",
            "ng-maxlength" => "64"}
          .help-block{"ng-show" => "form.title.$error.required"}
            Please enter a title description for your issue
          .help-block{"ng-show" => "form.title.$error.maxlength"}
            Cannot be longer than 128 characters
          .help-block{"ng-show" => "form.title.$error.minlength"}
            Must be longer than 10 characters
          %span{"ng-show" => "form.title.$valid"}
            %br
            %b Issues with similar titles
            %table.table.table-hover
              %tbody
                %tr.fade{"ng-repeat" => "issue in issues | fuseImpFilter:title"}
                  %td
                    %a{:href => "\#{[{ issue.get_abs_url }]}"}
                      %i.fa.fa-circle &nbsp;
                      %span{"ng-bind-html" => "issue.title | searchFilter:title"}
      .form-group{"valid-class" => "form.description"}
        %label.col-lg-3.control-label
          Description
        .col-lg-8
          %textarea.form-control{"mark-it-up" => "", name: "description", type: "text",
            "ng-model" => "description"}
      .form-group
        .col-lg-3
        .col-lg-8
          %button.btn.btn-primary{name: "create", "ng-click" => "submit()", type: "submit",
            "ng-disabled" => "!form.$valid", type: "submit"}
            Create
    %br/
    %br/
    %br/
