.col.header-col-light-gray.row{"ng-init" => "init()"}
  %br/
  %br/
  %br/
  .col-lg-6.col-lg-offset-2
    %h3.col-lg-offset-4 Create new project
    %br/
    %form#NewProjectForm.form-horizontal{action: "", enctype: "", method: "post", name: "NewProjectForm"}
      %input{name: "_piecewise_", type: "hidden", value: "True"}/
      %input{name: "_ajax_", type: "hidden", value: "True"}/
      #NewProjectForm_error{style: "display:none;"}
      .form-group
        %label.col-lg-3.control-label{for: "NewProjectForm_ptitle"}
          Project
          Name
        .col-lg-8
          %input#NewProjectForm_ptitle.form-control{"data-piecewise" => "blur", name: "ptitle", placeholder: "", style: "", type: "text", value: ""}/
          #NewProjectForm_ptitle_error{style: "display:none;"}
      .form-group
        %label.col-lg-3.control-label{for: "NewProjectForm_url_key"}
          Url
          Key
        .col-lg-8
          .col-md-4{style: "text-align:center; margin-top:10px;"}
            %b /featurelet/
          .col-md-8.no-gutter
            %input#NewProjectForm_url_key.form-control{"data-piecewise" => "blur", name: "url_key", placeholder: "", type: "text", value: ""}/
          #NewProjectForm_url_key_error{style: "display:none;"}
      .form-group
        %label.col-lg-3.control-label{for: "NewProjectForm_description"} Description
        .col-lg-8
          %input#NewProjectForm_description.form-control{"data-piecewise" => "blur", name: "description", placeholder: "(Optional)", style: "", type: "text", value: ""}/
          #NewProjectForm_description_error{style: "display:none;"}
      .form-group
        %label.col-lg-3.control-label{for: "NewProjectForm_website"} Website
        .col-lg-8
          %input#NewProjectForm_website.form-control{"data-piecewise" => "blur", name: "website", placeholder: "(Optional)", style: "", type: "text", value: ""}/
          #NewProjectForm_website_error{style: "display:none;"}
      .form-group
        %label.col-lg-3.control-label{for: "NewProjectForm_source"}
          Souce Code
          Location
        .col-lg-8
          %input#NewProjectForm_source.form-control{"data-piecewise" => "blur", name: "source", placeholder: "", style: "", type: "text", value: ""}/
          #NewProjectForm_source_error{style: "display:none;"}
      .form-group
        .col-lg-3
        .col-lg-8
          %button#NewProjectForm_create.btn.btn-primary{name: "create", "ng-click" => "submit()", placeholder: "", style: "", type: "button"} Create
          #NewProjectForm_create_error{style: "display:none;"}
    %br/
    %br/
    %br/
