.container
  %br/
  %br/
  %br/
  %br/
  .col-lg-6.col-lg-offset-2
    %h3{class: "center"} OAuth Sign Up
    %br/
    %form.form-horizontal{method: "post", name: "f", novalidate: ""}
      .alert-danger.alert.fade{"ng-show" => "errors"}
        %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
        %span{"ng-show" => "error_header"} {[{ error_header }]}
        %ul{"ng-show" => "errors.length > 1"}
          %li{"ng-repeat" => "error in errors"} {[{error}]}
      %div
        .form-group{"valid-class" => "f.username"}
          %label.col-lg-3.control-label Username
          .col-lg-8
            %input.form-control{name: "username", "ng-maxlength" => "32",
              "ng-model" => "username", "ng-pattern" => "/^[a-zA-Z0-9-_]+$/",
              type: "text", required: "", "unique-serverside" => "user"}
            %i.fa.fa-spinner.fa-spin.right-float{"ng-show" => "f.username.busy"}
            %i.fa.fa-check.right-float{"ng-show" => "f.username.confirmed && f.username.$valid"}
            .help-block{"ng-show" => "f.username.$error.required"}
              Please enter a Username
            .help-block{"ng-show" => "f.username.$error.pattern"}
              Can only contain letters, numbers, _, and -.
            .help-block{"ng-show" => "f.username.$error.maxlength"}
              Cannot be longer than 64 characters
            .help-block{"ng-show" => "f.username.$error.taken"}
              That name is taken
      .form-group{"valid-class" => "f.pass", "ng-init" => "load_username()"}
        %label.col-lg-3.control-label Password
        .col-lg-8
          %input.form-control{name: "pass", "ng-maxlength" => "64",
              "ng-minlength" => "5", "ng-model" => "pass", type: "password"}
          .help-block{"ng-show" => "f.pass.$error.required"}
            Please enter a password
          .help-block{"ng-show" => "f.pass.$error.minlength"}
            Must be longer than 5 characters
          .help-block{"ng-show" => "f.pass.$error.maxlength"}
            Must be fewer than 64 characters
      .form-group{"valid-class" => "f.confirm"}
        %label.col-lg-3.control-label Confirm
        .col-lg-8
          %input.form-control{name: "confirm", "ng-model" => "confirm",
            "password-match" => "f.pass", type: "password"}
          .help-block{"ng-show" => "f.confirm.$error.unique"}
            Passwords must match
          .help-block{"ng-show" => "f.confirm.$error.required"}
            Please enter a confirmation password
      .form-group{"ng-repeat" => "email in providerData.emails"}
        %label.col-lg-3.control-label
          %span{"ng-show" => "$first"}
            Email
        .col-lg-7
          .well.well-sm{style: "margin-bottom: 0px"}
            {[{ email.email }]}
          %i.fa.fa-check.right-float.no-load
        .col-lg-1
          %input{type: "radio", "ng-model" => "$parent.primary", value: "{[{ email.email }]}",
            name: "primary", required: ""}
      .form-group{"valid-class" => "f.email"}
        %label.col-lg-3.control-label
          %span{"ng-show" => "providerData.emails.length > 0"}
            Additional
          Email
        .col-lg-7
          %input.form-control{name: "email", "ng-model" => "email", placeholder: "{[{ optionalPlaceholder }]}",
            type: "email", "unique-serverside" => "email", "ng-required" => "{[{emailRequired}]}", required: ""}
          %i.fa.fa-spinner.fa-spin.right-float{"ng-show" => "f.email.busy"}
          %i.fa.fa-check.right-float{"ng-show" => "f.email.confirmed && f.email.$valid"}
          .help-block{"ng-show" => "f.email.$error.email"}
            Invalid address
          .help-block{"ng-show" => "f.email.$error.required"}
            Email address is required
          .help-block{"ng-show" => "f.email.$error.taken"}
            That address is already being used by another user
          .help-block{"ng-show" => "f.email.$error.duplicate"}
            That address is already being added by OAuth Linking
        .col-lg-1
          %input{type: "radio", "ng-model" => "primary", value: "custom", required: "",
            name: "primary"}
      .form-group
        .col-lg-3
        .col-lg-4
          %button.btn.btn-info{name: "submit", "ng-click" => "submit()", class: "fill-link",
              "ng-disabled" => "!f.$valid", type: "submit"}
            OAuth Only
        .col-lg-4
          %button.btn.btn-primary{name: "submit", "ng-click" => "submit()", class: "fill-link",
              "ng-disabled" => "!f.$valid || !f.confirm.$valid || !f.confirm.$dirty || pass.length === 0", type: "submit"}
            OAuth + Regular
  .col-lg-3
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .panel.panel-info
      .panel-heading OAuth Only
      .panel-body
        %i{"ng-class" => "{true: 'fa fa-check', false: 'fa fa-times'}[f.username.$valid && f.username.$dirty]"} 
        \&nbsp;Username
        %br
        %i{"ng-class" => "{true: 'fa fa-check', false: 'fa fa-times'}[providerData.emails.length > 0 || f.email.$valid]"} 
        \&nbsp;Email
    .panel.panel-primary
      .panel-heading OAuth + Classic Login
      .panel-body
        %i{"ng-class" => "{true: 'fa fa-check', false: 'fa fa-times'}[f.$valid && f.confirm.$valid && f.confirm.$dirty && pass.length !== 0]"} 
        \&nbsp;Password
