{% set buttons = [('0.25', 'fa-thumbs-up'), ('1.00', 'fa-coffee'), ('5.00', 'fa-beer'), ('10.00', 'fa-ticket'), ('25.00', 'fa-star'), ('100.00', 'fa-rocket')] %}
.modal-header{style:"", "ng-init" => "init()", "ng-class" => "{true: 'modal-pledge'}[payment_type=='pledge']"}
  %button.close{"aria-hidden" => "true", "ng-click" => "close()", type: "button"} ×
  %h4.modal-title{id: "PaymentModalTitle"}
    %div.text-center.payment-modal-title{"ng-show" => "payment_type=='pledge'"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x{style:"color:#3A9C4A;"}
        %i.fa.fa-flag.fa-stack-1x
      %span.payment-type Make a Pledge
    %div.text-center.payment-modal-title{"ng-show" => "payment_type=='donation'"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x{style:"color:#3A9C4A;"}
        %i.fa.fa-flag.fa-stack-1x
      %span.payment-type Make a Donation
.modal-body.modal-payment
  .row
    .col-md-10.col-md-offset-1
      %ul.nav.nav-pills.nav-justified
      {% for amount, icon in buttons %}
        %li
          %button.btn.btn-default{"buttoncontrol" => "", "amount" => "{{ amount }}", "ng-model" => "payment_amt"}
            %i.fa.{{ icon }}
      {% endfor %}
        %li
          %button.btn.btn-default{"buttoncontrol" => "", "amount" => "{[{ balance }]}", "ng-model" => "payment_amt"}
            All
      %hr
  .row
    .col-md-10.col-md-offset-1
      %form.form-horizontal{name: "f", novalidate: ""}

        .form-group.text-muted
          %label.control-label.col-sm-3.no-gutter Balance:
          .col-sm-7.col-sm-offset-2
            %span.currency
              $
            %div{style:"padding-top:10px;padding-left:15px;"}
              {[{ balance | currency:'' }]} available


        .form-group.has-feedback{"valid-class" => "f.amount", style:"margin-bottom:0;"}
          %label.control-label.col-sm-3.no-gutter Amount:
          .col-sm-7.col-sm-offset-2
            %span.currency
              $
            %input.form-control{name:"amount", placeholder:"Balance: {[{ balance | currency:'$' }]}",
            "ng-model" => "payment_amt", required: "", type: "number", "ng-max" => "balance", "ng-min" => "0.01",
            "format-float" => "2", "ng-blur" => "tmp()"}
            %i.fa.fa-check.fa-lg.form-control-feedback{"ng-show" => "f.amount.$dirty && f.amount.$valid"}
            %i.fa.fa-times.fa-lg.form-control-feedback{"ng-show" => "f.amount.$dirty && f.amount.$invalid"}
            .help-block{"ng-show" => "f.amount.$dirty && f.amount.$error.required"}
              Must input a number
            .help-block{"ng-show" => "f.amount.$dirty && f.amount.$error.ngMax"}
              Only {[{ balance | currency:'$' }]} available
            .help-block{"ng-show" => "f.amount.$dirty && f.amount.$error.ngMin"}
              Minimum is $0.01
            -#%p.text-right.text-muted{"ng-show" => "f.amount.$dirty && f.amount.$valid", style:"padding-top:4px;margin-bottom:0px;font-size:14px;"}
            -#  {[{ balance - payment_amt | currency:"$" }]} remaining

        .form-group.text-muted
          %label.control-label.col-sm-3.no-gutter New balance:
          .col-sm-7.col-sm-offset-2
            %span.currency
              $
            %div{style:"padding-top:10px;padding-left:15px;"}
              {[{ balance - payment_amt | currency:'' }]} remaining

        .form-group
          .col-sm-7.col-sm-offset-5
            .checkbox
              %label
                %input{type: "checkbox"} Make anonymous

.modal-footer.modal-payment
  %button.btn.btn-info{name: "submit", "ng-click" => "submit()",
      "ng-disabled" => "!f.$valid", type: "submit"}
    Give!
  %button.btn.btn-default{"ng-click" => "close()"} Close
