.container.header-col-light-gray
  %div{style:"padding-left:15px;"}
    .row
      %ol.breadcrumb
        %li.text-muted
          Site policy
        %li
          %a{href: "/privacy"} Privacy
  .col.row.no-gutter
    .col-lg-10.col-lg-offset-1
      %h2.text-center Privacy Policy
      .row
        .col-md-11.col-md-offset-1
          %h3 Intro
          %p
            This Privacy Policy is meant to accomplish three goals
            %br
            %ol
              %li Explain what information we collect
              %li How we use that information
              %li Your options, including how to remove or update that information
          %h3 Information we collect
          %p
            %b Information you give us.
            Most of our services require you to sign up an account with us. If you do we will ask you for personal
            information that will be attached to your account, such as your name, email address, accounts you have on
            third party websites like Github, and potentially photos of you (likely through Gravatar). Currently,
            Crowdlink does not collect or store financially sensitive data, such as your credit card number, this is
            handled through 3rd party services.
          %p
            %b Information we get from your use of our services.
            We may collect information about your usage of our services, such as when you visit the site, or statistics
            on your interaction with Projects on our site. All of the statistical data we collect on usage patterns is
            not personally identifiable.
          %p
            %b Information we may access from 3rd party services.
            Crowdlink utilizes various third party services, including services like Balanced Payments to make credit
            card transactions. Some information you give to those third party services may be accessible by Crowdlink.
            Crowdlink does not collect or store this information except as is required to perform fraud prevention and
            verify the integrity of Crowdlink's records.

          %h3 How information is used by Crowdlink
          %p
            %b For improvement.
            information we get from your use of our services is for the purpose of improving our service, whether that
            be through adding
            better security, optimizing high traffic areas, developing new services for unmet needs, or other
            improvements.
          %p
            %b For identification.
            We use your screen name to represent your activities on the site, and your profile may include
            information you have given to us.
          %p
            %b For limited 3rd party use.
            Information we collect is never sold or licensed to third parties. Some information may be required by third
            parties to properly perform their functions, such as information provided to a fraud detection net, and in
            those circumstances we utilize least priviledge principles. Additionally any data furnished to third parties
            is sanitized of any information that could be used to personally identify an individual. Additionally,
            Crowdlink may be legally required to turn over certain information, and will do so when we have a good-faith
            belief that such disclosure is both reasonable and necessary.
          %h3 What you can do
          %p
            %b User control.
            We believe a user should have complete control over what information about them is stored, and what is
            displayed publicly. Information you provide may be removed by you through our site, and information provided
            by you to third parties may also be removed.
          %p
            %b Some limitations.
            Some information we have
            obtained through your use of our service we cannot remove, as we may have no record of which data is
            related to your account or activities. Additionally, any financial transactions you perform within the
            Crowdlink network must be retained for both accounting and legal reasons.
          %p
            %b Support.
            Please feel free to contact support regarding any privacy concerns, we are available at support@crowdlink.io



