%div{style:"background-color:#EEE;"}
  .container
    .row{style:"padding-top:15px;"}
      .col-md-2.text-center.no-gutter
        %img.profile-logo{src: "{[{ prof_user.avatar }]}"}
      .col-md-10
        .row
          .col-md-7
            %h2{style:"margin-top:0px;"}
              %span {[{ prof_user.username }]}
            %h5
              %small{style:"margin-left:0px;"}
                Joined on
                %i.fa.fa-user
                {[{ prof_user.created_at | date:'mediumDate' }]} ({[{ prof_user.created_at | date_ago }]})
          .col-md-5.text-right
            .project-buttons
              %a.btn.button.btn-default{"toggle-button" => "prof_user.subscribed",
                on: "active", off: "",
                "ng-click" => "swap_save('prof_user.subscribed')"}
                %i{on: "fa-eye", off: "fa-eye"}
                .in-button.hidden-xs.hidden-sm.hidden-md{on: "Watch", off: "Watch"}
        .row
          .col-md-12
            {[{ user.about }]}
        .row
          .col-md-2
            %div{"ng-show" => "prof_user.gh_linked || prof_user.go_linked || prof_user.tw_linked"}
              %h5 Linked Accounts
              %table.table
                %tr{"ng-show" => "prof_user.gh_linked"}
                  %td
                    %i.fa.fa-github
                    %a{href: "{[{prof_user.profile.gh.profile_link}]}"}
                      {[{prof_user.profile.gh.username}]}
                %tr{"ng-show" => "prof_user.tw_linked"}
                  %td
                    %i.fa.fa-twitter
                    %a{href: "http://twitter.com/{[{prof_user.profile.tw.username}]}"}
                      @{[{prof_user.profile.tw.username}]}
                %tr{"ng-show" => "prof_user.go_linked"}
                  %td
                    %i.fa.fa-google-plus
                    %a{href: "{[{ prof_user.profile.go.profile_link }]}"}
                      {[{prof_user.profile.go.name}]}

    %br
    .row
      %ul.nav.nav-tabs
        %li{"ng-class" => "{true: 'active'}[view=='feed']"}
          %a{"ng-click" => "view='feed'"}
            %i.fa.fa-rss
            Public feed
        %li{"ng-class" => "{true: 'active'}[view=='projects']"}
          %a{"ng-click" => "view='projects'"}
            %i.fa.fa-puzzle-piece
            {[{ prof_user.username }]}'s projects
        %li{"ng-class" => "{true: 'active'}[view=='general_info']"}
          %a{"ng-click" => "view='general_info'"}
            %i.fa.fa-globe
            General info
        %li{"ng-class" => "{true: 'active'}[view=='settings']"}
          %a{"ng-click" => "view='settings'"}
            %i.fa.fa-gear
            Profile settings

%div{style:"box-shadow:0px -2px 0px #DDD;background-color:#fff;"}
  .container
    .row.inner-pad.tab-content{"ng-include" => "'{{template_path}}profile/' + view + '.html'"}
    %br
%hr{style:"margin:0px;box-shadow:2px 2px 2px #DDD;"}
