.container
  %div
    .row
      .col-md-8.no-gutter{style: "padding-right:15px;"}
        %h2
          %span{"ng-show" => "project.user_acl.edit_name"}
            %span{"ng-show" => "editing.project.name"}
              .input-group
                %input.form-control{"ng-model" => "project.name", type: "text"}/
                %span.btn.btn-info.input-group-addon{"ng-click" => "save('project.name')"}
                  %i.fa.fa-save{"ng-hide" => "saving.project.name"}
                  %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.project.name"}
                %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('project.name')"}
                  %i.fa.fa-times-circle
            %span{"ng-hide" => "editing.project.name"}
              {[{ project.name }]} 
              %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('project.name')"}
          %span{"ng-hide" => "project.user_acl.edit_name"}
            {[{ project.name }]}
        %h5
          Maintained by
          %i.fa.fa-user
          %a{:href => "#/{[{ project.maintainer_username }]}"} {[{ project.maintainer_username }]}
        %br
        %a.button{"toggle-button" => "project.subscribed",
          "ng-click" => "swap_save('project.subscribed')"}
          %i{on: "fa-eye-slash", off: "fa-eye"}
          .in-button{on: "Unwatch", off: "Watch"}
        %a.button{"toggle-button" => "project.vote_status",
          "ng-click" => "swap_save('project.vote_status')"}
          %i{on: "fa-minus-circle", off: "fa-plus-circle"}
          .in-button{off: "Vote", on: "Unvote"}
        %report-dropdown{"var" => "project.report_status", "reasons" => "['Spam', 'Fraudulent']"}
        %a.button{:href => "\#{[{project.get_abs_url}]}new_issue"}
          %i.fa.fa-large.fa-plus
          Add an Issue
    %br
    .row
      %ul.nav.nav-tabs
        %li{"ng-class" => "{true: 'active'}[view=='recent']"}
          %a{"ng-click" => "view='recent'"}
            %i.fa.fa-rss
            Recent
        %li{"ng-class" => "{true: 'active'}[view=='issues']"}
          %a{"ng-click" => "view='issues'"}
            %i.fa.fa-puzzle-piece
            Issues
        %li{"ng-class" => "{true: 'active'}[view=='general_info']"}
          %a{"ng-click" => "view='general_info'"}
            %i.fa.fa-globe
            General info
        %li.disabled{"ng-class" => "{true: 'settings'}[view=='settings']"}
          %a{"ng-click" => "view='settings'"}
            %i.fa.fa-gear
            Project Settings
%hr.hr-widescreen
.container
  .row.inner-pad.tab-content{"ng-include" => "'{{template_path}}project/' + view + '.html'"}