%div
  .container
    .row{style:"padding-top:15px;"}
      .col-md-12
        .col-md-7
          %div.pull-left
            %img.project-logo{src: "{{ static_path }}img/logo.svg"}
          %div.pull-left{style:"padding-left:10px;"}
            %h2{style:"margin-top:0px;"}
              %span{"ng-show" => "project.user_acl.edit_name"}
                %span{"ng-show" => "editing.project.name"}
                  .input-group{style:"max-width:400px;"}
                    %input.form-control{"ng-model" => "project.name", type: "text"}/
                    %span.btn.btn-info.input-group-addon{"ng-click" => "save('project.name')"}
                      %i.fa.fa-save{"ng-hide" => "saving.project.name"}
                      %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.project.name"}
                    %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('project.name')"}
                      %i.fa.fa-times-circle
                %span{"ng-hide" => "editing.project.name"}
                  {[{ project.name }]} 
                  %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('project.name')"}
              %span{"ng-hide" => "project.user_acl.edit_name"}
                {[{ project.name }]}
            %h4
              {[{ project.desc }]}

        %span.col-md-5.text-right
          .project-buttons
            %a.btn.button.btn-default{"toggle-button" => "project.subscribed",
              on: "active", off: "",
              "ng-click" => "swap_save('project.subscribed')"}
              %i{on: "fa-eye", off: "fa-eye"}
              .in-button.hidden-xs.hidden-sm{on: "Watch", off: "Watch"}
            %a.btn.button.btn-default{"toggle-button" => "project.vote_status",
              on: "active", off: "",
              "ng-click" => "swap_save('project.vote_status')"}
              %i{on: "fa-thumbs-up", off: "fa-thumbs-up"}
              .in-button.hidden-xs.hidden-sm{off: "Props", on: "Props"}
            %a.button.btn.btn-default{:href => ""}
              %i.fa.fa-large.fa-heart
              .in-button.hidden-xs.hidden-sm Donate
          %h4
            %small{style:"margin-left:0px;"}
              Maintained by
              %img{src:"\{[{ project.owner.avatar }]}&s=20"}
              %a{:href => "/{[{ project.owner_username }]}"} {[{ project.owner_username }]}







    %br
    .row
      %ul.nav.nav-tabs
        %li{"ng-class" => "{true: 'active'}[view=='recent']"}
          %a{"ng-click" => "view='recent'"}
            %i.fa.fa-rss
            Recent
        %li{"ng-class" => "{true: 'active'}[view=='tasks']"}
          %a{"ng-click" => "view='tasks'"}
            %i.fa.fa-puzzle-piece
            Tasks
        %li{"ng-class" => "{true: 'active'}[view=='general_info']"}
          %a{"ng-click" => "view='general_info'"}
            %i.fa.fa-globe
            General info
        %li{"ng-class" => "{true: 'active'}[view=='settings']"}
          %a{"ng-click" => "view='settings'"}
            %i.fa.fa-gear
            Project Settings

.container
  .row.main-content
    .tab-content{"ng-include" => "'{{template_path}}project/' + view + '.html'"}
