
%div{style:"background-color:#EEE;"}
  .container
    .row{style:"padding-top:15px;"}
      .col-md-2.text-center.no-gutter
        %img.project-logo{src: "{{ static_path }}img/logo.svg"}
      .col-md-10
        .row
          .col-md-7
            %h2{style:"margin-top:0px;"}
              %span{"ng-show" => "project.user_acl.edit_name"}
                %span{"ng-show" => "editing.project.name"}
                  .input-group
                    %input.form-control{"ng-model" => "project.name", type: "text"}/
                    %span.btn.btn-info.input-group-addon{"ng-click" => "save('project.name')"}
                      %i.fa.fa-save{"ng-hide" => "saving.project.name"}
                      %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.project.name"}
                    %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('project.name')"}
                      %i.fa.fa-times-circle
                %span{"ng-hide" => "editing.project.name"}
                  {[{ project.name }]} 
                  %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('project.name')"}
              %span{"ng-hide" => "project.user_acl.edit_name"}
                {[{ project.name }]}
            %h5
              %small{style:"margin-left:0px;"}
                Maintained by
                %i.fa.fa-user
                %a{:href => "#/{[{ project.maintainer_username }]}"} {[{ project.maintainer_username }]}
          .col-md-5.text-right
            .project-buttons
              %a.btn.button.btn-default{"toggle-button" => "project.subscribed",
                on: "active", off: "",
                "ng-click" => "swap_save('project.subscribed')"}
                %i{on: "fa-eye", off: "fa-eye"}
                .in-button.hidden-xs.hidden-sm.hidden-md{on: "Watch", off: "Watch"}
              %a.btn.button.btn-default{"toggle-button" => "project.vote_status",
                on: "active", off: "",
                "ng-click" => "swap_save('project.vote_status')"}
                %i{on: "fa-thumbs-up", off: "fa-thumbs-up"}
                .in-button.hidden-xs.hidden-sm.hidden-md{off: "Props", on: "Props"}
              %a.button.btn.btn-default{:href => ""}
                %i.fa.fa-large.fa-heart
                .in-button.hidden-xs.hidden-sm.hidden-md Donate
        .row
          .col-md-12
            {[{ project.desc }]}

    %br
    .row
      %ul.nav.nav-tabs
        %li{"ng-class" => "{true: 'active'}[view=='recent']"}
          %a{"ng-click" => "view='recent'"}
            %i.fa.fa-rss
            Recent
        %li{"ng-class" => "{true: 'active'}[view=='issues']"}
          %a{"ng-click" => "view='issues'"}
            %i.fa.fa-puzzle-piece
            Issues
        %li{"ng-class" => "{true: 'active'}[view=='general_info']"}
          %a{"ng-click" => "view='general_info'"}
            %i.fa.fa-globe
            General info
        %li{"ng-class" => "{true: 'active'}[view=='settings']"}
          %a{"ng-click" => "view='settings'"}
            %i.fa.fa-gear
            Project Settings

%div{style:"box-shadow:0px -2px 0px #DDD;background-color:#fff;"}
  .container
    .row.inner-pad.tab-content{"ng-include" => "'{{template_path}}project/' + view + '.html'"}
    %br
%hr{style:"margin:0px;box-shadow:2px 2px 2px #DDD;"}