.container
  %br/
  %br/
  %br/
  %br/
  .row
    .col-lg-12
      %h1.text-center.login-header Recover Account
      %br/
  .row
    .col-lg-5.center-margin
      %form.form-horizontal{method: "post", novalidate: "", name: 'f', "ng-submit" => "submit()"}
        .alert-danger.alert.fade.row{"ng-show" => "errors"}
          %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
          %span{"ng-show" => "error_header"} {[{ error_header }]}
          %ul{"ng-show" => "errors.length > 1"}
            %li{"ng-repeat" => "error in errors"} {[{error}]}
        .form-group{"valid-class" => "f.pass"}
          %input.form-control{name: "pass", "ng-maxlength" => "64",
              "ng-minlength" => "5", "ng-model" => "pass", required: "",
              type: "password", placeholder: "New Password"}
          .help-block{"ng-show" => "f.pass.$error.required"}
            Please enter a password
          .help-block{"ng-show" => "f.pass.$error.minlength"}
            Must be longer than 5 characters
          .help-block{"ng-show" => "f.pass.$error.maxlength"}
            Must be fewer than 64 characters
        .form-group{"valid-class" => "f.confirm"}
          %input.form-control{name: "confirm", "ng-model" => "confirm",
            "password-match" => "f.pass", type: "password", required: "",
            placeholder: "Confirm New Password"}
          .help-block{"ng-show" => "f.confirm.$error.unique"}
            Passwords must match
          .help-block{"ng-show" => "f.confirm.$error.required"}
            Please enter a confirmation password
        .form-group
          %button.text-center.btn.btn-info{type: "submit", "ng-disabled" => "f.$invalid"} Change
