.container
  %br/
  %br/
  %br/
  %br/
  .row
    .col-lg-12
      %h1.text-center.login-header Recover Account
      %br/
  .row
    .col-lg-5.center-margin
      %form.form-horizontal{method: "post", novalidate: "", name: 'f', "ng-submit" => "submit()"}
        .alert-danger.alert.fade.row{"ng-show" => "errors"}
          %span{"ng-show" => "errors.length === 1"} {[{ errors[0] }]}
          %span{"ng-show" => "error_header"} {[{ error_header }]}
          %ul{"ng-show" => "errors.length > 1"}
            %li{"ng-repeat" => "error in errors"} {[{error}]}
        .form-group
          %input.form-control{"ng-model" => "identifier", type: "text",
            placeholder: "Email address or Username",
            "ng-required" => "true", name: "identifier"}
        .form-group
          %button.text-center.btn.btn-info{type: "submit", "ng-disabled" => "f.$invalid"} Recover Account
