%div.fade{"ng-init" => "init()"}
  .row
    %ol.breadcrumb
      %li
        %a{href: "#/{[{sol.issue.project.username}]}"} {[{sol.issue.project.username}]}
      %li
        %a{href: "#\{[{issue.project.get_abs_url}]}"} {[{ sol.issue.project.name }]}
      %li
        %a{href: "#\{[{sol.issue.get_abs_url}]}"} {[{ sol.issue.title }]}
      %li.active {[{sol.title}]}
  %div
    .row
      .col-md-8.no-gutter
        %h2
          %span{"ng-show" => "sol.user_acl.edit_title"}
            %span{"ng-show" => "editing.title"}
              .input-group
                %input.form-control{"ng-model" => "sol.title", type: "text"}/
                %span.btn.btn-info.input-group-addon{"ng-click" => "save('title')"}
                  %i.fa.fa-save{"ng-hide" => "saving.title"}
                  %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.title"}
                %span.btn.btn-primary.input-group-addon{"ng-click" => "revert('title')"}
                  %i.fa.fa-times-circle
            %span{"ng-hide" => "editing.title"}
              {[{ sol.title }]} 
              %small.fa.fa-edit.icon-hover{"ng-click" => "toggle('title')"}
          %span{"ng-hide" => "sol.user_acl.edit_title"}
            {[{ sol.title }]}
      .col-md-4.no-gutter
        .pull-right{style: "width:50%;"}
          %a.btn.btn-default.fill-link{"ng-class" => "{true: 'btn-info active', false: 'btn-info'}[sol.subscribed]", "ng-click" => "swap_save('subscribed')"}
            %span{"ng-hide" => "sol.subscribed"}
              %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.subscribed"}
              %i.fa.fa-eye{"ng-hide" => "saving.subscribed"}
              \ Watch
            %span{"ng-show" => "sol.subscribed"}
              %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.subscribed"}
              %i.fa.fa-eye-slash{"ng-hide" => "saving.subscribed"}
              \ Unwatch
          %a.btn.btn-info.fill-link{"ng-class" => "{true: 'btn-info active', false: 'btn-info'}[sol.vote_status]", "ng-click" => "swap_save('vote_status')"}
            %span{"ng-hide" => "sol.vote_status"}
              %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.vote_status"}
              %i.fa.fa-plus-circle{"ng-hide" => "saving.vote_status"}
              \ Vote
            %span{"ng-show" => "sol.vote_status"}
              %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.vote_status"}
              %i.fa.fa-minus-circle{"ng-hide" => "saving.vote_status"}
              \ Unvote
    %br/
    .row
      %h4
        %b> Proposed on
        {[{ sol.created_at | date:'medium' }]}
        ({[{ sol.created_at|date_ago }]})
      %br/
      %div.btn.btn-default.pull-right{"ng-click" => "toggle('desc')",
        "ng-show" => "sol.user_acl.edit_desc", "ng-hide" => "editing.desc"}
        Edit
      .row.well.well-lg.center-margin
        .row.col-lg-11{"ng-show" => "editing.desc"}
          %textarea{"mark-it-up" => "", "ng-model" => "sol.desc"}
          %span.btn.btn-info{"ng-click" => "save('desc')", "ng-disabled" => "saving.desc"}
            %i.fa.fa-save{"ng-hide" => "saving.desc"}
            %i.fa.fa-spinner.fa-spin{"ng-show" => "saving.desc"}
            \ Save
          %span.btn.btn-primary{"ng-click" => "revert('desc')", "ng-disabled" => "saving.desc"}
            %i.fa.fa-times-circle
            \ Discard
        %div{"ng-hide" => "editing.desc"}
          %span{"btf-markdown" => "sol.desc"}
  .row{"ng-show" => "sol.events.length > 0"}
    %h3 Events
    %div{"ng-repeat" => "event in project.events"}
      %span{"ng-include" => "'templates/' + event.template"}
  .row{"ng-show" => "logged_in"}
    %textarea{"mark-it-up" => "", "ng-model" => "new_comment.body"}
