%div
  .container.jumbotron
    .row{style:"padding-top:15px;"}
      .col-lg-7
        %h3.header.hidden-md.hidden-lg
          {[{task.title}]}
        %h2.hidden-sm.hidden-xs
          {[{task.title}]}
        %h4
          {[{ task.desc }]}
        %h4
          Est. start date 10/10/1000
      .col-lg-5
        .row
          .col-lg-12.text-right
            %div{"tooltip-html-unsafe" => "<div class=\"text-left\"><i class=\"fa fa-square info\"></i> $500 in Pledges <br><i class=\"fa fa-square warning\"></i> $300 in Donations </div>", "tooltip-placement" => "top"}
              %progress
                %bar{:type => "info", :value => "25"}
                  %span{} 25%
                %bar{:type => "warning", :value => "15"}
                  %span 15%
            %span.text-muted $2000 goal
        %hr.feed
        .row
          .col-sm-12
            %div.text-center
              %h3
                100 backers have raised $800


        -#.row{style:"padding-top:8px;"}
        -#  .col-sm-6
        -#    %div.text-center
        -#      %span.text-muted
        -#        $500 in 43 pledges
        -#  .col-sm-6
        -#    %div.text-center
        -#      %span.text-muted
        -#        $300 in 20 donations

        .row{style:"padding-top:18px;"}
          .col-sm-6.text-center
            %a.btn.btn-success{"ng-click" => "payment('pledge')"}
              %i.fa.fa-large.fa-exchange
              .in-button{style:"display:inline-block;"} Pledge

          .col-sm-6.text-center
            %a.btn.btn-success{"ng-click" => "payment('donation')"}
              %i.fa.fa-large.fa-gift
              .in-button{style:"display:inline-block;"} Donate

  .container{style:"padding-top:20px"}
    .row
      %ul.nav.nav-tabs
        %li{"ng-class" => "{true: 'active'}[view=='home']"}
          %a{"ng-click" => "view='home'"}
            %i.fa.fa-rss
            Task home
        %li{"ng-class" => "{true: 'active'}[view=='comments']"}
          %a{"ng-click" => "view='comments'"}
            %i.fa.fa-puzzle-piece
            Comments
        %li{"ng-class" => "{true: 'active'}[view=='settings']"}
          %a{"ng-click" => "view='settings'"}
            %i.fa.fa-gear
            Task Settings
.container
  .col-sm-11.main-content
    .tab-content{"ng-include" => "'{{template_path}}task/' + view + '.html'"}
  .col-sm-1.no-gutter
    .col-sm-8.text-center
      %span{"ng-include" => "'{{template_path}}task/share.html'"}
