.container
  .row
    .col-md-8.no-gutter
      .col
        %h3 Your feed
        %br
        .container
          %div{"ng-repeat" => "event in huser.events"}
            %div.row.feed{"ng-include" => "'{{ template_path }}' + event.template"}
            %hr.feed
          %span{"ng-show" => "huser.events.length == 0"}
            There's nothing to see here right now... Start watching projects or users to monitor their progress.
    .col-md-4.no-gutter
      .col
        %h3
          Your projects
          %a.btn.btn-sm.btn-info{href: "new_project"}
            %i.fa.fa-plus
            \ New Project
        %ul.list-group.main-list{"ng-show" => "huser.projects.length > 0"}
          %a{href: "{[{project.get_abs_url }]}", "ng-repeat" => "project in huser.projects"}
            %li.list-group-item
              %i.fa.fa-tasks
              \  {[{ project.name }]}

      .col
        %h3 Popular Projects
        %ul.list-group.main-list{"ng-show" => "huser.projects.length > 0"}
          %a{href: "{[{project.get_abs_url }]}", "ng-repeat" => "project in huser.projects"}
            %li.list-group-item
              %i.fa.fa-flag
              \  {[{ project.name }]}
        %span{"ng-show" => "huser.events.length == 0"}
          %b Nothing to see here either
