.row
  .col-md-8.no-gutter
    .col
      %h3 Your feed
      %div{"ng-repeat" => "event in huser.events"}
        %div.media{"ng-include" => "'{{ template_path }}' + event.template"}
        %hr
      %span{"ng-show" => "huser.events.length == 0"}
        There's nothing to see here right now... Start watching projects or users to monitor their progress.
  .col-md-4.no-gutter
    .col
      %h3 Your projects
      %ul.list-group.main-list{"ng-show" => "huser.projects.length > 0"}
        %a{href: "\#{[{project.get_abs_url }]}", "ng-repeat" => "project in huser.projects"}
          %li.list-group-item
            %i.fa.fa-tasks
            \  {[{ project.name }]}
      %a.btn.btn-info{href: "#/new_project"}
        %i.fa.fa-plus
        \ Create a New Project
    .col
      %h3 Popular Projects
      %b Nothing to see here either
