.clearfix
  %i.pull-left.fa.fa-rocket.fa-2x{style: "padding:20px;"}
  %h5{style: "padding:10px;"}
    Created an Issue on
    %b.pull-right {[{event.time | date_ago}]}
    %a{href: "\#{[{event.proj_p}]}"} {[{event.pname}]}
    %br/
    %small
      %b
        %a{href: "\#{[{event.issue_p}]}"} {[{ event.iname }]}
