%a.pull-left{href: "\#{[{event.user_p}]}"}
  %img.media-object{alt: "...", src: "http://placehold.it/64x64"}
.media-body
  %h5.media-heading.col-lg-9
    %a{href: "\#{[{event.user_p}]}"}
      {[{ event.uname }]}
    added a solution for
    %a{href: "\#{[{event.iss_p}]}"} {[{event.iname}]}
    on project
    %a{href: "\#{[{event.proj_p}]}"} {[{event.pname}]}

  .col-lg-3
    .pull-right.text-muted {[{event.time | date_ago}]}
