%a.pull-left{href: "\#{[{event.user_p}]}"}
  %img.media-object{alt: "...", src: "http://placehold.it/64x64"}
.media-body
  %h5.media-heading.col-lg-9
    %a{href: "\#{[{event.user_p}]}"}
      {[{ event.uname }]}
    commented on
    %a{href: "\#{[{event.thing_p}]}"} {[{event.tname}]}
    %br/
    %small
      %b {[{ event.message }]}

  .col-lg-3
    .pull-right.text-muted {[{event.time | date_ago}]}

