<div class='btn-group'>
  <a class='button dropdown-toggle' ng-class='{disabled: varValue &amp;&amp; config.falseToggle}' ng-click='varValue &amp;&amp; config.falseToggle &amp;&amp; change(false)'>
    <i></i>
    <div id='text' ng-class='textCls'></div>
    <span class='caret' ng-hide='varValue &amp;&amp; config.falseToggle'></span>
  </a>
  <ul class='dropdown-menu'>
    <li ng-repeat='key in config.order'>
      <a ng-click='change(key)'>{[{ config.options[key]['text'] }]}</a>
    </li>
  </ul>
</div>
