/* line 10, ../../scss/main.scss */
.header-col {
  padding: 25px 40px;
}
/* line 12, ../../scss/main.scss */
.header-col li {
  padding: 3px;
}

/* line 17, ../../scss/main.scss */
.header-col-norm {
  border-top: 3px solid #ffffff;
  background-color: #A9DFC4;
}

/* line 21, ../../scss/main.scss */
.header-col-preview {
  border-bottom: 3px solid #ffffff;
  background-color: #fad9a4;
  padding: 10px 40px;
}

/* line 26, ../../scss/main.scss */
.header-col-user {
  background-color: #b6daf2;
}

/* line 30, ../../scss/main.scss */
.header-col-maint {
  border-right: 3px solid #ffffff;
  background-color: #507192;
  color: #efefef !important;
}
/* line 33, ../../scss/main.scss */
.header-col-maint h3, .header-col-maint h4, .header-col-maint ul {
  color: #efefef !important;
}

/* line 39, ../../scss/main.scss */
.logo {
  padding: 9px 20px 5px 20px;
}

/* line 44, ../../scss/main.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 50, ../../scss/main.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -62px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
/* line 61, ../../scss/main.scss */
#footer {
  height: 62px;
}

/* line 65, ../../scss/main.scss */
.main-cont {
  padding-top: 50px;
}
