{% extends base %}
{% block control %}
<script type="text/javascript" charset="utf-8">
  $('#NewProjectForm_ptitle').keyup(function () {
    $('#{{ id }}').val($(this).val().replace(/[^0-9a-zA-Z]/g, '-').toLowerCase());
      });
</script>
<div class="col-md-4" style="text-align:center; margin-top:10px;">
<b>/{{ g.user.username }}/</b>
</div>
<div class="col-md-8 no-gutter">
<input data-piecewise="{{ piecewise_trigger }}"
       type="text"
       id="{{ id }}"
       value="{{ data }}"
       class="form-control {{ css_class }}"
       name="{{ name }}"
       placeholder="{{ placeholder }}"
       {% if disabled %}disabled{% endif %}>
</div>
{% endblock %}
