{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}
{% block content %}
<div class="row">
  {% include "acct_nav.html" %}
  <div class="col-md-9">
    <h3>Account Information</h3>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Username</th>
          <td>{{g.user.username}}</td>
        </tr>
        <tr>
          <th>Primary Email</th>
          <td>
            {{g.user.primary_email.address}}
            {% if g.user.primary_email.verified %}
            <span class="label label-primary">Verified</span>
            {% else %}
            <span class="label label-danger">Un-verified</span>
            {% endif %}
          </td>
        </tr>
        {% if g.user.gh_linked %}
        <tr>
          <th>Github Account</th>
          <td>
            {{g.user.gh['login']}} {{g.user.gh_token}}
            <a href="{{url_for('main.unlink_github')}}" class="btn btn-danger btn-xs">Unlink</a>
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="col-md-7">
      {{ password_form|safe }}
    </div>
  </div>
</div>
{% endblock %}
