<div class="col-md-3" style="padding:30px;">
  <h4>Account Information</h4>
  <ul class="nav nav-pills nav-stacked">
    {% set url = url_for('main.account') %}
    <li {% if request.path == url %}class="active" {%endif%}>
        <a href="#{{url}}">General</a>
    </li>
    {% if not g.user.gh_linked %}
    <li>
      <a href="#{{url_for('main.github_init_auth')}}">
        <i class="fa fa-github fa-large"></i>&nbsp; Link You Github
      </a>
    </li>
    {% endif %}
  </ul>
  <h4>Financial</h4>
  <ul class="nav nav-pills nav-stacked">
    {% set url = url_for('main.charge') %}
    <li {% if request.path == url %}class="active" {%endif%}>
        <a href="#{{url}}">Add Credit</a>
    </li>
    {% set url = url_for('main.transactions') %}
    <li {% if request.path == url %}class="active" {%endif%}>
        <a href="#{{url}}">Transactions</a>
    </li>
  </ul>
</div>
