<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="/static/lib/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
    <link href="/static/lib/css/font-awesome.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Featurelet</title>
    {% endblock %}
  </head>
  <body>
    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//malsup.github.com/jquery.form.js"></script>
    <!-- Yota -->
    <script src="/static/lib/js/yota.js"></script>
    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <!-- Noty notifications -->
    <script src="//cdn.jsdelivr.net/noty/2.1.0/jquery.noty.js"></script>
    <script src="//cdn.jsdelivr.net/noty/2.1.0/layouts/top.js"></script>
    <script src="//cdn.jsdelivr.net/noty/2.1.0/themes/default.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- Markitup Markdown editor -->
    <script type="text/javascript" src="/static/lib/js/jquery.markitup.js"></script>
    <!-- My libs -->
    <script src="/static/js/lib.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/improvement.js"></script>
    {% block post_script %}{% endblock %}
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container no-gutter">
              <a class="navbar-brand logo" href="/">
                <span class="hidden-xs"><img src="/static/img/logo.png" border="0" /></span>
                <span class="visible-xs"><img src="/static/img/logo_sm.png" border="0" /></span>
              </a>
              <ul class="nav nav-pills main-nav-pills">
                <!-- <li{% if request.path == "/plans" %} class="active"{%endif%}><a href="/plans">Plans</a></li> -->
                {% if g.user.is_authenticated() %}
                <li{% if request.path == url_for('main.account') %} class="active"{%endif%}>
                  <a href="{{url_for('main.account')}}">
                    <i class="fa fa-large fa-gear"></i>
                    <span class="hidden-xs"> Account</span>
                  </a>
                </li>
                {% set uurl = g.user.get_abs_url() %}
                  <li{% if request.path == uurl %} class="active"{%endif%}>
                    <a href="{{uurl}}">
                      <i class="fa fa-large fa-user"></i>
                      <span class="hidden-xs"> Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{url_for('main.logout')}}">
                      <i class="fa fa-large fa-sign-out"></i>
                      <span class="hidden-xs"> Logout</span>
                    </a>
                  </li>
                {% else %}
                  <li{% if request.path == url_for('main.signup') %} class="active"{%endif%}>
                  <a href="{{url_for('main.signup')}}">
                      <i class="fa fa-large fa-edit"></i>
                      <span class="hidden-xs"> Sign Up</span>
                    </a>
                  </li>
                  <li{% if request.path == url_for('main.login') %} class="active"{%endif%}>
                    <a href="{{url_for('main.login')}}">
                      <i class="fa fa-sign-in fa-large"></i>
                      <span class="hidden-xs"> Login</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
          </div>
      </div>
      <div class="container main-cont">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
           {% for category, message in messages %}
                <br />
                {% if category == 'message' %}{% set category = 'danger' %}{% endif %}
                <div class="alert alert-block alert-{{category}} fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ message }}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer navbar-default navbar">
      <div class="container">
        <p class="text-muted" style="margin:20px 0px;">
        {% block footer %}
        &copy; Copyright 2013 by me.
        {% endblock %}
        </p>
      </div>
    </div>
  </body>
</html>
