<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="/static/lib/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Featurelet</title>
    {% endblock %}
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="/static/lib/js/yota.js"></script>
    <script src="/static/lib/js/jquery.noty.js"></script>
    <script src="/static/js/main.js"></script>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <a class="navbar-brand logo" href="/"><img src="/static/img/logo.png" border="0" /></a>
              <ul class="nav nav-pills">
                <!-- <li{% if request.path == "/plans" %} class="active"{%endif%}><a href="/plans">Plans</a></li> -->
                {% if g.user.is_authenticated() %}
                <li{% if request.path == "/account" %} class="active"{%endif%}><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li{% if request.path == "/signup" %} class="active"{%endif%}><a href="/signup"><i class="icon-large icon-edit"></i><span class="hidden-xs"> Sign Up</span></a></li>
                <li{% if request.path == "/login" %} class="active"{%endif%}><a href="/login"><i class="icon-signin icon-large"></i><span class="hidden-xs"> Login</span></a></li>
                {% endif %}
              </ul>
          </div>
      </div>
      <div class="container main-cont">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer navbar-default navbar">
      <div class="container">
        <p class="text-muted" style="margin:20px 0px;">
        {% block footer %}
        &copy; Copyright 2013 by me.
        {% endblock %}
        </p>
      </div>
    </div>
  </body>
</html>
