{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="container header-col header-col-purple">
    <div class="row">
      <div class="col-lg-6 indent-quote">
        <br><br>
        <br><br>
        <br>
        <h2 class="bs-masthead">Crowd-source your user opinion to drive lean, agile development</h2>
        <h4 class="subtext">Sign up for free for open source project hosting. Paid plans coming soon.</h4>
      </div>
      <div class="col-lg-5">
          <h3 class="indent-quote">Sign Up</h3>
          {{ form|safe }}
        <p class="col-lg-offset-4" style="padding-left:10px;">
          <div class="hr-header">
            <b>or</b>
          </div>
        </p>
        <br>
        <a href="/login/github" class="col-lg-offset-4" style="padding-left:10px;">
          <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-github fa-li fa-large"></i>&nbsp; Sign in with Github</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 header-col header-col-dark-blue">
    <h3 class="indent-quote">For project maintainers</h3>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-thumbs-up"></i> &nbsp;Integrated voting</h3>
        <p>Voting and goal setting allows non-technical users to let their voice be heard and helps you follow user interest for more lean development. Users can vote for free or with money, you decide.</p>
      </div>
    </div>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-dollar"></i> &nbsp;Grow your project</h3>
        <p>Generate impetus for your side projects by allowing people to show their interst with money</p>
      </div>
    </div>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-gear"></i> &nbsp;Built in</h3>
        <p>Designed to work alongside your issue tracker to avoid duplicating work</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 header-col header-col-light-blue">
    <h3>For users</h3>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-comment"></i> &nbsp;Be heard</h3>
        <p>Always wanted that one feature in a project? You can vote for that feature to be implemented, or even give a few dollars towards it.</p>
      </div>
    </div>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-bullhorn"></i> &nbsp;Stay up to date</h3>
        <p>Track projects that your intersted in easily and be notified of new releases and features</p>
      </div>
    </div>
    <div class="row" style="padding-left:15px;">
      <div class="col-lg-10">
        <h3><i class="fa fa-flask"></i> &nbsp;Drive innovation</h3>
        <p>Micro-donations can be targeted at specific objectives or improvements in projects that interest you</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="container header-col header-col-gray">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <h3><i class="fa fa-linux"></i> &nbsp;Open Source Friendly</h3>
        <p>Featurelet is completely free for open source projects</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
