{% extends "base.html" %}

{% block title %}View Improvement "{{ imp.brief }}"{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{{imp.project.get_abs_url()}}">{{ imp.project.name }}</a></li>
  <li><a href="">Improvements</a></li>
  <li class="active">{{imp.brief}}</li>
</ol>
<div class="row">
  <div class="col-md-8">
    <div class="col">
      <h2>{{ imp.brief }}</h2>
      <h4>
        <b>Proposed on </b>{{ imp.created_at|date }}
        ({{ imp.created_at|date_ago }})
      </h4>
    </div>
  </div>
  <div class="col-md-4">
    <h3></h3>
  </div>
</div>
{% endblock %}
