<!-- {% block title %}Sign in{% endblock %} -->
{% block content %}
<div ng-controller="loginController" class="col header-col-light-gray row">
  <br><br><br>
  <div class="col-lg-6 col-lg-offset-2">
    <h3 class="col-lg-offset-3" style="padding-bottom:10px;">Sign In</h3>
    <form method="post" class="form-horizontal">
        <div ng-show="errors" class="alert-danger alert" id="LoginForm_error">
          <span ng-show="errors.length === 1">{[{ errors[0] }]}</span>
          <ul ng-show="errors.legnth > 1">
            <li ng-repeat="error in errors">{[{error}]}</li>
          </ul>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for="LoginForm_username">Username</label>

          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="username" />
            <div style="display:none;" id="LoginForm_username_error"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for="LoginForm_password">Password</label>

          <div class="col-lg-8">
            <input type="password" class="form-control" ng-model="password" />
            <div style="display:none;" id="LoginForm_password_error"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3"></div>
          <div class="col-lg-8">
            <button ng-click="submit()"
              class="btn-sm btn btn-info"
              type="button">Login</button>
            <div style="display:none;" id="LoginForm_submit_error"></div>
          </div>
        </div>
      </form>
      {[{ username }]}
    <br><br><br>
  </div>
</div>
{% endblock %}
