<div class="col header-col-light-gray row" ng-init="init()">
    <br />
    <br />
    <br />

    <div class="col-lg-6 col-lg-offset-2">
      <h3 class="col-lg-offset-4">Create new project</h3><br />

      <form method="post" class="form-horizontal" name="NewProjectForm" id=
      "NewProjectForm" action="" enctype="">
       <input type="hidden" name="_piecewise_" value="True" /> <input type=
        "hidden" name="_ajax_" value="True" />

        <div style="display:none;" id="NewProjectForm_error"></div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for="NewProjectForm_ptitle">Project
          Name</label>

          <div class="col-lg-8">
            <input data-piecewise="blur" type="text" id="NewProjectForm_ptitle" value=""
            class="form-control" style="" name="ptitle" placeholder="" />

            <div style="display:none;" id="NewProjectForm_ptitle_error"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for="NewProjectForm_url_key">Url
          Key</label>

          <div class="col-lg-8">
            <div class="col-md-4" style="text-align:center; margin-top:10px;">
              <b>/featurelet/</b>
            </div>

            <div class="col-md-8 no-gutter">
              <input data-piecewise="blur" type="text" id="NewProjectForm_url_key" value=
              "" class="form-control" name="url_key" placeholder="" />
            </div>

            <div style="display:none;" id="NewProjectForm_url_key_error"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for=
          "NewProjectForm_description">Description</label>

          <div class="col-lg-8">
            <input data-piecewise="blur" type="text" id="NewProjectForm_description"
            value="" class="form-control" style="" name="description" placeholder=
            "(Optional)" />

            <div style="display:none;" id="NewProjectForm_description_error"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for=
          "NewProjectForm_website">Website</label>

          <div class="col-lg-8">
            <input data-piecewise="blur" type="text" id="NewProjectForm_website" value=""
            class="form-control" style="" name="website" placeholder="(Optional)" />

            <div style="display:none;" id="NewProjectForm_website_error"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" for="NewProjectForm_source">Souce Code
          Location</label>

          <div class="col-lg-8">
            <input data-piecewise="blur" type="text" id="NewProjectForm_source" value=""
            class="form-control" style="" name="source" placeholder="" />

            <div style="display:none;" id="NewProjectForm_source_error"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3"></div>

          <div class="col-lg-8">
            <button ng-click="submit()" placeholder="" class="btn btn-primary" style=""
            type="button" id="NewProjectForm_create" name="create">Create</button>

            <div style="display:none;" id="NewProjectForm_create_error"></div>
          </div>
        </div>
      </form><br />
      <br />
      <br />
    </div>
  </div>
