{% extends "base.html" %}

{% block title %}Plans{% endblock %}
{% block content %}
<div class="container">
  <h3>Personal Plans</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Pico Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 2 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li>No team access</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Micro Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 5 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li>No team access</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Bigger Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 10 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li>No team access</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h3>Business Plans</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Pico Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 5 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li><a href="/about_team">Team access</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Micro Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 15 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li>Team access</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Bigger Plan</div>
        <div class="panel-body">
          <ul>
            <li>Up to 30 closed source projects</li>
            <li>Unlimited open source projects</li>
            <li>Team access</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
