<div class="row" ng-init="init()">
  <div class="col header-col-light-gray">
    <div class="row">
      <div class="col-md-7">
        <h2>{[{ prof_user.username }]}</h2>
        <h4><b>Joined: </b>{[{ prof_user.created_at | date:'mediumDate' }]} ({[{ prof_user.created_at | date_ago }]})</h4>
        <a class="btn btn-default fill-link"
          ng-click="swap_save('subscribed')"
          ng-class="{true: 'btn-info active', false: 'btn-info'}[prof_user.subscribed]">
          <span ng-hide="prof_user.subscribed">
            <i class="fa fa-spinner fa-spin" ng-show="saving.subscribed"></i>
            <i class="fa fa-eye" ng-hide="saving.subscribed"></i>
            &nbsp;Watch
          </span>
          <span ng-show="prof_user.subscribed">
            <i class="fa fa-spinner fa-spin" ng-show="saving.subscribed"></i>
            <i class="fa fa-eye-slash" ng-hide="saving.subscribed"></i>
            &nbsp;Unwatch
          </span>
        </a>
      </div>
      <div class="col-md-5 text-right">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h3>Events</h3>
  <div ng-repeat="event in project.events">
    <span ng-include="'templates/' + event.template" />
  </div>
</div>
