<!-- {% block title %}Home{% endblock %} -->
{% block content %}
<div class="row">
  <div class="col-md-8 no-gutter">
    <h2>
      {{ project.name }}
    </h2>
    <h4>
      <b>Created </b>{{ project.created_at|date }}
      ({{ project.created_at|date_ago }})
    </h4>
    <h4>
      <b>Maintainer </b>
      <a href="#{{ project.maintainer.get_abs_url() }}">{{ project.maintainer.username }}</a>
    </h4>
  </div>
  <div class="col-md-4 no-gutter">
    <br />
    <div class="btn-group-vertical pull-right" style="width:70%;">
      <a class="btn"
            data-type="watch"
            data-json="{{project.jsonize(id=1, subscribed=1)}}"
            data-url="project">
        <span class="false-div"><i class="fa fa-eye"></i> &nbsp;Watch</span>
        <span class="true-div"><i class="fa fa-eye-slash"></i> &nbsp;Unwatch</span>
      </a>
      <a class="btn btn-default" href="#{{url_for('main.project_settings',
                                                 username=project.maintainer.username,
                                                 url_key=project.url_key)}}">
        <i class="fa fa-large fa-gear"></i>
        Project Settings
      </a>
    </div>
  </div>
</div>
<div class="row" ng-app="mainApp" ng-controller="projectImpSearch">
  <h3>Improvements</h3>
  <div class="input-group">
    <input type="text" ng-model="filter" class="form-control" />
    <span class="btn btn-info input-group-addon">
      <i ng-click="search()" class="fa fa-search"></i>
    </span>
  </div><!-- /input-group -->
  <table
    class="table table-hover"
    ng-init="init('{{project.id}}', '{{project.get_improvements(json=True)|urlencode}}')">
    <tbody>
     <tr ng-repeat="imp in imps | filter:filter">
      <td class="fit-width">
        <a class="btn btn-xs"
            ng-class="{'btn-success': imp.vote_status, 'btn-info': !imp.vote_status}"
            ng-click="vote(imp)">
          <span ng-hide="imp.vote_status">Vote&nbsp; <i class="fa fa-plus"></i></span>
          <span ng-hide="!imp.vote_status">Unvote&nbsp; <i class="fa fa-minus"></i></span>
        </a>
        &nbsp;&nbsp;
        <b><ng-pluralize count="imp.votes"
                         when="{'0': 'No votes',
                                'one': '1 vote',
                                'other': '{} votes'}"></ng-pluralize></b>
      </td>
      <td><a href="#{[{ imp.get_abs_url }]}" ng-bind-html-unsafe="imp.brief | searchFilter:filter"></a></td>
    </tr>
    </tbody>
  </table>
</div>
{% if project.events %}
<div class="row">
  <h3>Events</h3>
  {% for event in project.events %}
    {% include event.template %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
