<div class="row" ng-init="init()">
  <div class="col-md-8 no-gutter">
    <h2>
      {[{ project.name }]}
    </h2>
    <h4>
      <b>Created </b>{[{ project.created_at.$date | date:'medium' }]}
      ({[{ project.created_at.$date | date_ago }]})
    </h4>
    <h4>
      <b>Maintainer </b>
      <a href="#/u/{[{ project.username }]}">{[{ project.username }]}</a>
    </h4>
  </div>
  <div class="col-md-4 no-gutter">
    <br />
    <div class="btn-group-vertical pull-right" style="width:70%;">
      <a class="btn"
        ng-click="subscribe()"
        ng-class="{true: 'btn-info active', false: 'btn-info'}[project.subscribed]">
        <span ng-hide="project.subscribed"><i class="fa fa-eye"></i> &nbsp;Watch</span>
        <span ng-show="project.subscribed"><i class="fa fa-eye-slash"></i> &nbsp;Unwatch</span>
      </a>
      <a class="btn btn-default" href="#">
        <i class="fa fa-large fa-gear"></i>
        Project Settings
      </a>
    </div>
  </div>
</div>
<div class="row">
  <h3>Improvements</h3>
  <div class="input-group">
    <input type="text" ng-model="filter" class="form-control" />
    <span class="btn btn-info input-group-addon">
      <i ng-click="search()" class="fa fa-search"></i>
    </span>
  </div><!-- /input-group -->
  <table class="table table-hover">
    <tbody>
     <tr ng-repeat="prob in probs | filter:filter">
      <td class="fit-width">
        <a class="btn btn-xs"
            ng-class="{'btn-success': prob.vote_status, 'btn-info': !prob.vote_status}"
            ng-click="vote(prob)">
          <span ng-hide="prob.vote_status">Vote&nbsp; <i class="fa fa-plus"></i></span>
          <span ng-hide="!prob.vote_status">Unvote&nbsp; <i class="fa fa-minus"></i></span>
        </a>
        &nbsp;&nbsp;
        <b><ng-pluralize count="prob.votes"
                         when="{'0': 'No votes',
                                'one': '1 vote',
                                'other': '{} votes'}"></ng-pluralize></b>
      </td>
      <td><a href="#{[{ prob.get_abs_url }]}" ng-bind-html="prob.brief | searchFilter:filter"></a></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row" ng-show="project.events.length > 0">
  <h3>Events</h3>
  <div ng-repeat="event in project.events">
    <span ng-include="'templates/' + event.template" />
  </div>
</div>
