{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="col">
      <h2>{{ project.name }}</h2>
      <h4>
        <b>Created </b>{{ project.created_at|date }}
        ({{ project.created_at|date_ago }})
      </h4>
      <h4>
        <b>Maintainer </b>
        <a href="{{ project.maintainer.get_abs_url() }}">{{ project.maintainer.username }}</a>
      </h4>
    </div>
  </div>
  <div class="col-md-4">
    <br />
    <div class="btn-group-vertical">
      <a class="btn btn-default"
         href="{{url_for('main.new_improvement', maintainer=project.maintainer.username, purl_key=project.url_key) }}">Suggest an Improvement</a>
      <a class="btn btn-default" href="/new_milestone/{{ project.url_key }}">Add a Milestone</a>
      <a class="btn btn-default" href="/settings/{{ project.url_key }}">Project Settings</a>
    </div>
  </div>
</div>

<span class="btn {% if project.subscribed %}btn-info{% else %}btn-default{% endif %}"
      data-watch="{{project.id}}"
      data-watch-type="project"
      data-off-class="btn-default"
      data-on-class="btn-info">
  <i class="icon-eye-open"></i> &nbsp;Watch
</span>
<div class="row">
  <h3>Improvements</h3>
  <table class="table table-hover">
    <tbody>
      {% for imp in project.get_improvements(): %}
      <tr>
        <td class="fit-width">
          <a data-url-key="{{imp.url_key}}"
              data-proj-id="{{imp.project.id}}"
              data-type="vote"><div class="btn btn-sm btn-info">Vote&nbsp; <i class="icon-plus"></i></div></a>&nbsp;&nbsp;
          <b>{{imp.votes}} vote{{imp.votes|plural}}</b>
        </td>
        <td><a href="{{imp.get_abs_url()}}">{{imp.brief}}</a></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2"><b>No improvements to view, you should suggest one!</b></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if project.events %}
<div class="row">
  <h3>Events</h3>
  {% for event in project.events %}
    {% include event.template %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
