{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="col">
      <h2>{{ project.name }}</h2>
      <h4>
        <b>Created </b>{{ project.created_at|date }}
        ({{ project.created_at|date_ago }})
      </h4>
      <h4>
        <b>Maintainer </b>
        <a href="{{ project.maintainer.get_abs_url() }}">{{ project.maintainer.username }}</a>
      </h4>
    </div>
  </div>
  <div class="col-md-4">
    <br>
    <br>
    <a class="col col-btn btn btn-info" href="/new_project">Suggest an Improvement</a>
    <a class="col col-btn btn btn-success" href="/new_milestone/{{ project.url_key }}">Add a Milestone</a>
  </div>
</div>
{% endblock %}
