<br>
<br>
<br>
<br>
<div class='col-lg-6 col-lg-offset-2' ng-init='init()'>
  <h3 class='center'>Sign Up</h3>
  <br>
  <form class='form-horizontal' method='post' name='f' novalidate=''>
    <div>
      <div class='form-group' valid-class='f.username'>
        <label class='col-lg-3 control-label'>Username</label>
        <div class='col-lg-8'>
          <input class='form-control' name='username' ng-maxlength='32' ng-model='username' ng-pattern='/^[a-zA-Z0-9-_]+$/' required='' type='text' unique-serverside='user/check'>
          <i class='fa fa-spinner fa-spin right-float' ng-show='busy'></i>
          <i class='fa fa-check right-float' ng-show='confirmed &amp;&amp; f.username.$valid'></i>
          <div class='help-block' ng-show='f.username.$error.required'>
            Please enter a Username
          </div>
          <div class='help-block' ng-show='f.username.$error.pattern'>
            Can only contain letters, numbers, _, and -.
          </div>
          <div class='help-block' ng-show='f.username.$error.maxlength'>
            Cannot be longer than 64 characters
          </div>
          <div class='help-block' ng-show='f.username.$error.taken'>
            That name is taken
          </div>
        </div>
      </div>
    </div>
    <div class='form-group' valid-class='f.pass'>
      <label class='col-lg-3 control-label'>Password</label>
      <div class='col-lg-8'>
        <input class='form-control' name='pass' ng-maxlength='64' ng-minlength='5' ng-model='pass' required='' type='password'>
        <div class='help-block' ng-show='f.pass.$error.required'>
          Please enter a password
        </div>
        <div class='help-block' ng-show='f.pass.$error.minlength'>
          Must be longer than 5 characters
        </div>
        <div class='help-block' ng-show='f.pass.$error.maxlength'>
          Must be fewer than 64 characters
        </div>
      </div>
    </div>
    <div class='form-group' valid-class='f.confirm'>
      <label class='col-lg-3 control-label'>Confirm</label>
      <div class='col-lg-8'>
        <input class='form-control' name='confirm' ng-model='confirm' password-match='f.pass' required='' type='password'>
        <div class='help-block' ng-show='f.confirm.$error.unique'>
          Passwords must match
        </div>
        <div class='help-block' ng-show='f.confirm.$error.required'>
          Please enter a confirmation password
        </div>
      </div>
    </div>
    <div class='form-group' valid-class='f.email'>
      <label class='col-lg-3 control-label' for='RegisterForm_email'>Email</label>
      <div class='col-lg-8'>
        <input class='form-control' name='email' ng-model='email' required='' type='email' unique-serverside='email/check'>
        <i class='fa fa-spinner fa-spin right-float' ng-show='busy'></i>
        <i class='fa fa-check right-float' ng-show='confirmed &amp;&amp; f.email.$valid'></i>
        <div class='help-block' ng-show='f.email.$error.email'>
          Invalid address
        </div>
        <div class='help-block' ng-show='f.email.$error.required'>
          Email address is required
        </div>
        <div class='help-block' ng-show='f.email.$error.taken'>
          That address is already being used by another user
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-lg-3'></div>
      <div class='col-lg-8'>
        <button class='btn btn-info fill-link' name='submit' ng-click='submit()' ng-disabled='!f.$valid' type='submit'>
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>
