{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col header-col-gray col-md-8">
    <h3>Your feed</h3>
    <b>There's nothing to see here... Start watching some projects</b>
  </div>
  <div class="col header-col-gray col-md-4">
    <h3>Your projects</h3>
    {% for project in projects %}
    <ul>
      <li><a href="{{project.get_abs_url() }}">{{ project.name }}</a></li>
    </ul>
    {% endfor %}
  </div>
    <a class="col header-col-light-green col-md-4" href="/new_project">Create a New Project</a>
  <div class="col header-col-gray col-md-4 pull-right">
    <h3>Popular Projects</h3>
    <b>Nothing to see here either</b>
  </div>
</div>
{% endblock %}
