%h3
  General Project Information
  %a.button.btn.btn-info{:href => ""}
    %i.fa.fa-large.fa-plus
    Report this project
%hr.feed
.container
  .col-lg-8.col-lg-offset2
    %table.table-hover.info-table
      %tbody
        %tr
          %td Project Title:
          %td {[{ project.name }]}
        %tr
          %td Created:
          %td {[{ project.created_at| date:'medium' }]} ({[{ project.created_at| date_ago }]})
        %tr
          %td Maintainer:
          %td
            %a{:href => "#/{[{ project.maintainer_username }]}"} {[{ project.maintainer_username }]}
        %tr{"ng-repeat" => "admin in project.admins"}
          %td Admin
          %td
            %a{:href => "#/{[{ admin.username }]}"} {[{ admin.username }]}
        %tr{"ng-repeat" => "repo in project.repos"}
          %td Linked with {[{repo.name }]} Repository
          %td
            %a{:href => "#/{[{ repo.project_url }]}"} {[{ repo.project_title }]}
        %tr
          %td Donations Recieved:
          %td
        %tr
          %td Pledges Recieved:
          %td
        %tr
          %td Total Contributors:
          %td